html{
    font-size: 125%;
    width: 100%;
    font-family: "Microsoft YaHei";
    font-weight: lighter;
}
/*common-header start*/
.common-header{
    width: 100%;
    height: 2rem;
    background-color: #65dbd9;
    webkit-box-shadow: #666 0px 0px 0.2rem;
    -moz-box-shadow: #666 0px 0px 0.2rem;
    box-shadow: #666 0px 0px 0.2rem;
}
.common-header .header-left-btn{
    width: 0.575rem;
    height: 1.05rem;
    position: absolute;
    top: 0.45rem;
    left: 1.15rem;
}
.common-header .header-left-btn img{
    width: 100%;
    height: 100%;
    display: block;
}
.common-header h1{
    font-size: 0.75rem;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    line-height: 2rem;
}
/*common-header end*/

/*common phone*/
