/*适配*/
/*第一屏iphone 4*/
@media screen and (max-height: 480px){
    .renyuxian-index .index-header .header-text{
        margin-top: 2%;
    }
    .renyuxian-index .index-header .header-text img{
        width: 8.75rem;
        height: 3.375rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        display: block;
    }
}
/*第一屏其他*/
@media screen and (min-height: 481px){
    .renyuxian-index .index-header .header-text{
        margin-top: 4%;
    }
    .renyuxian-index .index-header .header-text img{
        width: 11.75rem;
        height: 5.375rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        display: block;
    }
}
/*renyuxian index start*/
.renyuxian-index .index-header{
    overflow: hidden;
}
.renyuxian-index .index-header .header-logo{
    width: 4.775rem;
    height: 1.875rem;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}
.renyuxian-index .index-header .header-logo img{
    width: 100%;
    height: 100%;
}
.renyuxian-index .index-header .header-text .text-ad{
    width: 10.85rem;
    height: 1.125rem;
    border: 1px solid #48d2d0;
    border-radius: 0.2rem;
    margin: 6% auto;
}
.renyuxian-index .index-header .header-text .text-ad p{
    font-size: 0.5rem;
    color: #48d2d0;
    text-align: center;
    line-height: 1.125rem;
    font-weight: 100;
    display: block;
}
.renyuxian-index .index-text{
    background-color: #48d2d0;
    padding: 0.25rem 1.2rem 0.25rem 1.2rem;
    position: absolute;
    left: 0;
}
.renyuxian-index .index-text p{
    font-size: 0.5rem;
    color: #fff;
    word-break: break-all;
}
.renyuxian-index .index-img {
    width: 14.25rem;
    height: 6.075rem;
    margin: 6.125rem auto 0 auto;
    overflow: hidden;
}
.renyuxian-index .index-img .img-duhaitao img {
    width: 7rem;
    height: 6.075rem;
    float: left;
}
.renyuxian-index .index-img .img-liyu img{
    width: 7rem;
    height: 6.075rem;
    float: right;
}
/*renyuxian index end*/

/*mengzhu index start*/
.mengzhu-index{
    width: 100%;
    height: 100%;
    background: url("../image/mengzhu_index/bg_mengzhuIndexBg.jpg") no-repeat;
    background-size: 12.075rem 16.1rem;
    background-position: 5.25rem 3.5rem;
    overflow: hidden;
    border: 0.45rem solid #c6f2f1;
    box-sizing: border-box;
}
.mengzhu-index .mengzhu-index-header{
    margin-top: 1rem;
}
.mengzhu-index .mengzhu-index-header img{
    width: 8.6rem;
    height: 1.3rem;
    display: block;
    margin: 0 auto;
}
.mengzhu-index .mengzhu-index-header p{
    font-size: 0.575rem;
    color: #48d2d0;
    line-height: 1.5rem;
    text-align: center;
}
.mengzhu-index .mengzhu-index-content{
    margin-top: 1.5rem;
}
.mengzhu-index .mengzhu-index-content .content-text em{
    font-size: 0.55rem;
    color: #48d2d0;
    line-height: 1.1rem;
    padding: 0.25rem;
    border: 1px solid #48d2d0;
    border-radius: 0.3rem;
    margin-left: 1.35rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.mengzhu-index .mengzhu-index-content .content-text p{
    font-size: 0.55rem;
    line-height: 1.2rem;
    margin-left: 1.6rem;
}
#now-join{
    line-height: 2rem;
}
.mengzhu-index .mengzhu-index-content .content-text a{
    font-size: 0.65rem;
    color: #48d2d0;
    margin-left: 1.6rem;
}
.mengzhu-index .mengzhu-index-content .content-link{
    width: 100%;
    position: absolute;
    bottom: 4.5rem;
    left: 0;
    z-index: 996;
}
.mengzhu-index-content .content-link  .content-more{
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.9rem;
    color: #ffa7af;
    text-align: center;
    line-height: 1.1rem;
    border: 1px solid #ffa7af;
    border-radius: 50%;
    margin-left: 2.4rem;
    margin-bottom: 0.25rem;
}
.mengzhu-index-content .content-link  button{
    width: 11.55rem;
    height: 1.85rem;
    background-color: #ffa7af;
    font-size: 0.925rem;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    border-radius: 0.3rem;
    display: block;
    margin: 0 auto;
}
.mengzhu-index-content .content-link p{
    font-size: 0.55rem;
    color: #ffa7af;
    margin-left: 11rem;
}
/*mengzhu index end*/

/*common bottom style*/
.index-bottom{
    width: 100%;
    height: 5.05rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
.index-bottom .bottom-logo{
    position: absolute;
    left: 44.5%;
    bottom: 1.4rem;
    animation: water 1s;
    -moz-animation: water 1s;	/* Firefox */
    -webkit-animation: water 1s;	/* Safari 和 Chrome */
    -o-animation: water 1s;	/* Opera */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; /* Safari 和 Chrome */
}
.index-bottom .bottom-logo img{
    width: 1.8rem;
    height: 2rem;
}
.index-bottom .bottom-bg img{
    width: 100%;
}
/*水滴动画*/
@keyframes water
{
    0%   {  bottom: 1.4rem;  }
    25%  {bottom: 1.5rem;}
    50%  {bottom: 1.7rem;}
    /*75% ｛bottom: 1.5rem;｝*/
    100% {bottom: 1.4rem;}
}

@-moz-keyframes water /* Firefox */
{
    0%   {bottom: 1.4rem;}
    25%  {bottom: 1.5rem;}
    50%  {bottom: 1.7rem;}
    /*75% ｛bottom: 1.5rem;｝*/
    100% {bottom: 1.4rem;}
}

@-webkit-keyframes water /* Safari 和 Chrome */
{
    0%   {bottom: 1.4rem;}
    25%  {bottom: 1.5rem;}
    50%  {bottom: 1.7rem;}
    /*75% ｛bottom: 1.5rem;｝*/
    100% {bottom: 1.4rem;}
}

@-o-keyframes water /* Opera */
{
    0%   {bottom: 1.4rem;}
    25%  {bottom: 1.5rem;}
    50%  {bottom: 1.7rem;}
    /*75% ｛bottom: 1.5rem;｝*/
    100% {bottom: 1.4rem;}
}
/*弹层*/
.understanding-details{
    width: 13.5rem;
    background-color: #dffcfb;
    border-radius: 0.3rem;
    padding: 0.6rem;
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 999;
}
.understanding-details .details-close{
    width: 0.875rem;
    height: 0.875rem;
    position: absolute;
    top: 0.5rem;
    right: 0.65rem;

}
.understanding-details .details-close img{
    width: 100%;
    height: 100%;
}
.understanding-details h5{
    font-size: 0.5rem;
    line-height: 1rem;
}
.understanding-details p{
    font-size: 0.5rem;
    line-height: 0.8rem;
}
/*弹层*/
.mengzhu-what{
    width: 13.5rem;
    background-color: #ffa7af;
    border-radius: 0.3rem;
    padding: 0.6rem;
    position: absolute;
    left: 0.7rem;
    bottom: 9rem;
    display: none;
    z-index: 999;
}
.mengzhu-what .what-text h5{
    font-size: 0.6rem;
    color: #fff;
    line-height: 1.5rem;
    font-weight: bold;
}
.mengzhu-what .what-text p{
    font-size: 0.525rem;
    color: #fff;
}
.mengzhu-what .what-text p > em{
    font-size: 0.6rem;
    color: #fff;
    font-weight: bold;
}
.mengzhu-what span{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ffa7af;
    display: block;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); 	/* Opera */
    position: absolute;
    left: 2rem;
    bottom: -0.3rem;
}
.mask{
    position: absolute; top: 0px;
    filter: alpha(opacity=60);
    background-color: #000;
    z-index: 998;
    left: 0px;
    opacity:0.6;
    -moz-opacity:0.6;
}
