/*gift-content start*/
.gift-content .gift-header{
    padding: 0.75rem 1.1rem 0.75rem 1.1rem;
}
.gift-content .gift-header p{
    font-size: 0.55rem;
    color: #65dbd9;
    line-height: 1rem;
}
/*gift-content end*/

/*gift-chose start*/
.gift-content .gift-chose{
    border-top: 0.25rem solid #65dbd9;
    border-bottom: 0.25rem solid #65dbd9;
    padding: 0.25rem 0.75rem 0.5rem 0.75rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
/*选择*/
.gift-chose .chose-chose{
    width: 8.7rem;
}
.gift-chose .chose-chose .chose-gift-box{
    border: 0.2rem solid #65dbd9;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.gift-chose .chose-chose .chose-gift-box .chose-gift-img{
    width: 100%;
    height: 2.575rem;
}
.gift-chose .chose-chose .chose-gift-box .chose-gift-img img{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
/*没有选择*/
.gift-chose .chose-not-chose{
    width: 5.15rem;
}
.gift-chose .chose-not-chose .chose-gift-box{
    border: 1px solid #65dbd9;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.gift-chose .chose-not-chose .chose-gift-box .chose-gift-img{
    width: 100%;
    height: 2.575rem;
}
.gift-chose .chose-not-chose .chose-gift-box .chose-gift-img img{
    width: 70%;
    height: 80%;
    margin: 0.5rem auto;
    display: block;
}
.gift-chose .chose-giftA{
    margin-right: 0.3rem;
    display: inline-block;
    vertical-align: top;
}
.gift-chose .chose-giftA em{
    font-size: 0.6rem;
    color: #65dbd9;
    vertical-align: middle;
}
.gift-chose .chose-giftA .chose-gift-box{
    width: 100%;
    height: 4.75rem;
    border-radius: 0.2rem;
    background-color: #f1f1f1;
}
.gift-chose .chose-giftA .chose-gift-box h4{
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.75rem;
    color: #65dbd9;
}
.gift-chose .chose-giftB{
    display: inline-block;
    vertical-align: top;
}
.gift-chose .chose-giftB em{
    font-size: 0.6rem;
    color: #65dbd9;
    vertical-align: middle;
}
.gift-chose .chose-giftB .chose-gift-box{
    width: 100%;
    height: 4.75rem;
    border-radius: 0.2rem;
    background-color: #f1f1f1;
}
.gift-chose .chose-giftB .chose-gift-box h4{
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.75rem;
    color: #65dbd9;
}
/*gift-chose end*/

/*gift start*/
.gift-content .gift-giftB,
.gift-content .gift-giftA{
    width: 100%;
    background-color: #5ec2c6;
    padding-bottom: 2.5rem;
}
.gift-content .gift-giftB img,
.gift-content .gift-giftA img{
    width: 100%;
    display: block;
}
.gift-content .gift-giftB{
    display: none;
}
/*gift end*/

/*gift-bottom-fixed start*/
.gift-bottom-fixed{
    width: 100%;
    height: 2.5rem;
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    bottom: 0;
}
.gift-bottom-fixed button{
    width: 8.75rem;
    height: 1.5rem;
    background-color: #65dbd9;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: lighter;
    font-family: "Microsoft YaHei";
    display: block;
    margin: 0.5rem auto 0.5rem auto;
}
