/*register-header start*/
.main-register .register-header{
    width: 100%;
    height: 2rem;
    background-color: #65dbd9;
    webkit-box-shadow: #666 0px 0px 0.2rem;
    -moz-box-shadow: #666 0px 0px 0.2rem;
    box-shadow: #666 0px 0px 0.2rem;
}
.main-register .register-header .header-left-btn{
    width: 0.575rem;
    height: 1.05rem;
    position: absolute;
    top: 0.45rem;
    left: 1.15rem;
}
.main-register .register-header .header-left-btn img{
    width: 100%;
    height: 100%;
    display: block;
}
.main-register .register-header h1{
    font-size: 0.75rem;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    line-height: 2rem;
}
/*register-header end*/

/*register-content start*/
.main-register .register-content{
    margin-top: 2.25rem;
    padding: 0 1.15rem 0 1.15rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.main-register .register-content .register-phone,
.main-register .register-content .register-code,
.main-register .register-content .register-password{
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 0.75rem;
}
.main-register .register-content div > input{
    border: none;
    height: 1rem;
    line-height: 1rem;
    font-size:0.55rem;
    margin-top: -0.5rem;
    color: #999999;
}
input:-ms-input-placeholder{
    font-size: 0.55rem;
    font-family: "Microsoft YaHei";
    color: #999999;
}
input::-webkit-input-placeholder{
    font-size: 0.55rem;
    font-family: "Microsoft YaHei";
    color: #999999;
}

.main-register .register-content .register-phone span{
    width: 1rem;
    height: 1rem;
    background: url("../image/mengzhu_register/pic_registerPhoneIcon.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
.main-register .register-content .register-phone input{
    width: 8rem;
}
.main-register .register-content .register-phone button{
    width: 3.75rem;
    height: 1.1rem;
    font-family: "Microsoft YaHei";
    font-size: 0.55rem;
    color: #fff;
    border-radius: 0.3rem;
    background-color: #65dbd9;
    position: absolute;
    right: 1.15rem;
}

.main-register .register-content .register-phone .code-btn-active{
     /*点击获取验证码倒数样式*/
    background-color: #9f9f9f;
}
.main-register .register-content .register-code input{
    width: 10rem;
}
.main-register .register-content .register-code span{
    width: 1rem;
    height: 1.075rem;
    background: url("../image/mengzhu_register/pic_registerCodeIcon.png") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: inline-block;
}
.main-register .register-content .register-password input{
    width: 10rem;
}
.main-register .register-content .register-password span{
    width:  1rem;
    height: 1.075rem;
    background: url("../image/mengzhu_register/pic_registerPassWordIcon.png") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: inline-block;
}
.main-register .register-content .register-next-btn{
    width: 100%;
    height: 1.9rem;
    background-color: #65dbd9;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    color: #fff;
    font-weight: lighter;
    font-family: "Microsoft YaHei";
    margin-top: 0.75rem;
}
.main-register .register-content .register-user-btn{
    width: 100%;
    height: 1.9rem;
    background-color: #fff;
    border: 1px solid #65dbd9;
    border-radius: 0.25rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    font-size: 0.75rem;
    color: #65dbd9;
    font-weight: lighter;
    font-family: "Microsoft YaHei";
    margin-top: 1rem;
}
/*register-content end*/
/*register-text start*/
.main-register .register-text{
    margin-top: 2.7rem;
    padding: 0 1.25rem 1.25rem 1.25rem;
}
.main-register .register-text em{
    font-size: 0.6rem;
    color: #999999;
    line-height: 1.5rem;
}
.main-register .register-text p{
    font-size: 0.5rem;
    color: #999999;
    line-height: 0.85rem;
}
/*register-text end*/