.info-content{
    padding: 0.5rem 1.1rem 2.5rem 1.1rem;
}

.info-content .content-text{
    padding: 0.5rem;
    border-bottom: 1px solid #e2e2e2;
}

.info-content .content-text p{
    font-size: 0.5rem;
    color: #999999;
    line-height: 1rem;
}
.info-content .content-info{
    margin-top: 0.25rem;
}
.info-content .content-info  em{
    font-size: 0.6rem;
    line-height: 1.2rem;
    color: #000;
}
.info-content .content-info input{
    width: 100%;
    font-size: 0.6rem;
    color: #999999;
    line-height: 1.5rem;
    border: 1px solid #e2e2e2;
    display: block;
}
.info-content .content-info p{
    font-size: 0.5rem;
    color: #999999;
    line-height: 1rem;
}
.info-sex .sex-checked{
    width: 0.8rem;
    height: 0.8rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}
.info-sex .sex-checked-active span{
    width: 0.4rem;
    height: 0.4rem;
    background-color: #65dbd9;
    border-radius: 50%;
    margin: 0.2rem;
    display:block;
}