html{
    font-size: 125%;
}
body{
    background-color: #eeeeee;
}
.big-shot-list{
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
    overflow: hidden;
    background-color: #eeeeee;
}
.big-shot-list .list-header{
    padding: 0 0.75rem;
    background-color: #fff;
}
.big-shot-list .list-header .header-details{
    padding-top: 1.5rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}
.big-shot-list .list-header .header-details .header-portrait-box{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    float: left;
    position: relative;
}
.big-shot-list .list-header .header-details .header-portrait-box .portrait-img-box{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
}
.big-shot-list .list-header .header-details .header-portrait-box .portrait-img-box img{
    width: 100%;
    height: 100%;
}
.big-shot-list .list-header .header-details .header-portrait-box .big-v-btn{
    width: 1rem;
    height: 1rem;
    background: url("../image/bigVlogo.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: -0.2rem;
}
.big-shot-list .list-header .header-details .header-info-box{
    width: 11rem;
    float: left;
}
.big-shot-list .list-header .header-details .header-info-box .info-name{
    margin-top: 0.3rem;
    font-size: 0.685rem;
    color: #e63a73;
}
.big-shot-list .list-header .header-details .header-info-box .info-details{
    margin-top: 0.3rem;
    font-size: 0.505rem;
    color: #333333;
}
.big-shot-list .list-header .figure-info{
    margin-top: 0.4rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
}
.big-shot-list .list-header .figure-info .info-box-left{
    width: 11rem;
    overflow: hidden;
    float: left;
}
.big-shot-list .list-header .figure-info .info-box-left .fans-box{
    margin-right: 0.8rem;
    float: left;
}
.big-shot-list .list-header .figure-info .info-box-left .fans-box span{
    width: 0.6rem;
    height: 0.65rem;
    background: url("../image/fansBtn.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
}
.big-shot-list .list-header .figure-info .info-box-left .article-num-box{
    float: left;
}
.big-shot-list .list-header .figure-info .info-box-left .article-num-box span{
    width: 0.6rem;
    height: 0.65rem;
    background: url("../image/articleBumbtn.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
}
.big-shot-list .list-header .figure-info .info-box-left .fans-box i,
.big-shot-list .list-header .figure-info .info-box-left .article-num-box i{
    font-size: 0.65rem;
    color: #333333;
}
.big-shot-list .list-header .figure-info .subscribe-box{
    width: 3.05rem;
    height: 1.3rem;
    border: 1px solid #e63a73;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    color: #e63a74;
    font-size: 0.6rem;
    line-height: 1.3rem;
}
.big-shot-list .list-header .figure-info .follow-box{
    color: #fff;
    background-color: #e63a73;
}
.big-shot-list .list-header .figure-info .follow-box span{
    width: 0.45rem;
    height: 0.45rem;
    background: url("../image/followBtn.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.3rem;
    margin-right: 0.4rem;
    display: inline-block;
    vertical-align: baseline;
}
.big-shot-list .list-header .figure-info .no-follow-box span{
    width: 0.45rem;
    height: 0.45rem;
    background: url("../image/goodBtn.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.3rem;
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: baseline;
}
.big-shot-list .list-header .figure-info .subscribe-box{
    float: right;
}

.big-shot-list .list-details .list-content{
    width: 25.375rem;
    height: 5rem;
    margin-top: 0.2rem;
    background-color: #fff;
    white-space:normal;
    overflow: hidden;
}
.big-shot-list .list-details .details-content{
    float: left;
    overflow: hidden;
}
.big-shot-list .list-details .details-content .content-img-box{
    width: 6.4rem;
    height: 5rem;
    overflow: hidden;
    float: left;
}
.big-shot-list .list-details .details-content .content-info-box{
    width: 9.6rem;
    padding: 0.7rem 0.3rem 0 0.8rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    float: left;
}
.big-shot-list .list-details .details-content .content-info-box .info-title{
    height: 2rem;
    color: #333333;
    font-size: 0.65rem;
    font-weight: bold;
    line-height: 1rem;
    overflow: hidden;
    margin-bottom: 0.35rem;
}
.big-shot-list .list-details .details-content .content-info-box .info-data{
    overflow: hidden;
}
.big-shot-list .list-details .details-content .content-info-box .info-data .data-left{
    float: left;
}
.big-shot-list .list-details .details-content .content-info-box .info-data .data-right i,
.big-shot-list .list-details .details-content .content-info-box .info-data .data-left i{
    color: #999999;
    font-size: 0.55rem;
}
.big-shot-list .list-details .details-content .content-info-box .info-data .data-right{
    float: right;
}
.big-shot-list .list-details .details-content .content-info-box .info-data .data-right span{
    width: 0.5rem;
    height: 0.48rem;
    background: url("../image/likeItBtn.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.1rem;
}
.big-shot-list .list-details .function-box{
    width: 9.375rem;
    height: 5rem;
    float: left;
    overflow: hidden;
}
.big-shot-list .list-details .function-box li{
    width: 3.125rem;
    height: 5rem;
    float: left;
}
.big-shot-list .list-details .function-box li>p{
    color: #fff;
    font-size: 0.45rem;
    text-align: center;
}
.big-shot-list .list-details .function-box .top-box{
    background-color: #9ed1ee;
}
.big-shot-list .list-details .function-box .top-box span{
    width: 0.75rem;
    height: 0.85rem;
    background: url("../image/topBoxBtn.png") no-repeat;
    background-size: 100% 100%;
    margin: 1.7rem auto 0.3rem auto;
    display: block;
}
.big-shot-list .list-details .function-box .edit-box{
    background-color: #5ca7ba;
}
.big-shot-list .list-details .function-box .edit-box span{
    width: 0.9rem;
    height: 0.85rem;
    background: url("../image/editBoxbtn.png") no-repeat;
    background-size: 100% 100%;
    margin: 1.7rem auto 0.3rem auto;
    display: block;
}
.big-shot-list .list-details .function-box .delete-box{
    background-color: #ef5172;
}
.big-shot-list .list-details .function-box .delete-box span{
    width: 0.85rem;
    height: 0.85rem;
    background: url("../image/deleteBtn.png") no-repeat;
    background-size: 100% 100%;
    margin: 1.7rem auto 0.3rem auto;
    display: block;
}