html{
    font-size: 125%;
}
.utan-main{
    width: 100%;
    overflow: hidden;
}
/*utan-content start*/
.utan-content{
    padding: 0.5rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.utan-content .content-title{
    font-size: 0.9rem;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #050505;
    /*text-align: center;*/
    word-break: break-all;
    margin-bottom: 1.25rem;
    display: block;
}
.utan-content .content-date{
    overflow: hidden;
}
.utan-content .content-date h3 {
    font-size: 0.55rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #8b7e84;
    margin-right: 0.25rem;
    float: left;
}
.utan-content .content-date a{
    font-size: 0.55rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #f15f9d;
    margin-right: 0.25rem;
    float: left;
}
.utan-content .content-date span{
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/pic_headlines1.png") no-repeat;
    background-size: 100% 100%;
    float: right;
}
.utan-content .content-date .span-click{
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/pic_headlines2.png") no-repeat;
    background-size: 100% 100%;
    float: right;
}
.utan-content .content-text{
    margin-top: 0.5rem;
}
.utan-content .content-text .content-imgbox{
    width: 100%;
    margin-bottom: 0.25rem;
}
.utan-content .content-text .content-imgbox h5{
    text-align: center;
    font-size: 0.4rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #8b7e84;
}
.utan-content .content-text .content-imgbox img{
    width: 100%;
    display: block;
}
.utan-content .content-text p{
    font-size: 0.75rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #040404;
    text-indent: 2em;
    word-break: break-all;
    margin-bottom: 0.5rem;
}
/*utan-content end*/

/*utan-comment start*/
.utan-comment{
    border-top: 0.5rem solid #efeff5; /*修改边框颜色*/
    padding: 0.5rem 0.5rem 3rem 0.5rem;
}
.utan-comment li{
    overflow: hidden;
}
.utan-comment > h2{
    font-size: 0.5rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #8b7e84;
    text-align: left;
    line-height: 1.5rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #dddddd;
}
.utan-comment .comment-portrait{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.utan-comment .comment-portrait img{
    width: 100%;
    height: 100%;
    display: block;
}
.utan-comment .comment-info{
    width: 13rem;
    margin-left: 0.5rem;
    float: left;
}
.utan-comment .comment-info .comment-name{
    overflow: hidden;
}
.utan-comment .comment-info .comment-name h1{
    font-size: 0.75rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #f15f9d;
    float: left;
}
.utan-comment .comment-info .comment-name .comment-nameicon{
    width: 0.6rem;
    height: 0.6rem;
    background: url("../images/pic_commentname.png") no-repeat;
    background-size: 100%;
    margin-top: 0.25rem;
    margin-left: 0.1rem;
    float: left;
}
.utan-comment .comment-info .comment-name .comment-sex{
    width: 0.3rem;
    height: 0.45rem;
    background: url("../images/pic_commentsex.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.3rem;
    margin-left: 0.1rem;
    float: left;
}
.utan-comment .comment-info .comment-name h2{
    font-size: 0.5rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #b0b0b0;
    float: right;
}
.utan-comment .comment-text{
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dddddd;
}
.utan-comment .comment-text p{
    font-size: 0.7rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #85777d;
    word-break: break-all;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.utan-comment .comment-text p > span{
    color: #f15f9d;
}
/*utan-comment end*/
/*新加*/
.utan-main .utan-content .utan-banner{
    width: 15rem;
    height: 10.4rem;
    background: url("../images/banner_utanHeadLine.jpg");
    background-size: 100% 100%;
    position: relative;
}
.utan-main .utan-content  .qr-code{
    width: 4.32rem;
    height: 4.32rem;
    background-color: #fff;
    position: absolute;
    top: 1.76rem;
    left: 8.66rem;
    overflow: hidden;
}
.utan-main .utan-content  .qr-code img{
    width: 100%;
}
.utan-main .like-people{
    width: 100%;
    background-color: #fff;
    border-top: 0.5rem solid #efeff5; /*修改边框颜色*/
    padding: 1rem 0;
}
.utan-main .like-people ul{
    padding: 0.5rem;
    overflow: hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.utan-main .like-people li{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.3rem;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}
.utan-main .like-people li img{
    width: 100%;
    height: 100%;
}
#like-icon img{
    width: 1.2rem;
    height: 1.025rem;
    margin-top: 0.3rem;
}
#like-num{
    background-color: #efeff5;
    text-align: center;
    line-height: 1.5rem;
    font-family: "Arial";
    font-size: 0.6rem;
    color: #b1b1b3;
}
/*.utan-main .like-people*/

/*.bottom-fixed start*/
.bottom-fixed{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    bottom: 0;
}
.bottom-fixed img{
    width: 100%;
    height: 100%;
}
.bottom-fixed h1{
    font-size: 0.6rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #fff;
    position: absolute;
    z-index: 999;
    left: 3rem;
    bottom: 0.7rem;
}
.bottom-fixed button{
    width: 30%;
    height: 69%;
    background-color: #f95897;
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottom-fixed button > a{
    font-size: 0.75rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #fff;
    display: block;
}

/*人鱼线新加*/
.renyuxian-banner img{
    width: 100%;
}
.bottom--renyuxian-fixed em{
    font-size: 0.76rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #fff;
    position: absolute;
    z-index: 999;
    left: 2.8rem;
    bottom: 1.2rem;
}
.bottom--renyuxian-fixed p{
    font-size: 0.56rem;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: #eaeaea;
    position: absolute;
    z-index: 999;
    left: 2.8rem;
    bottom: 0.5rem;
}
#ryx-btn{
    background-color: #ea292d;
}
.renyuxian-content{
    width: 100%;
    border: 1px solid #cccccc;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 1rem;
}
.renyuxian-content .content-img{
    padding: 0.24rem;
}
.renyuxian-content .content-img img{
    width: 100%;
    display: block;
}
.renyuxian-content span{
    padding: 0.1rem 0.6rem 0.1rem 0.25rem;
    background-color: #46ccc2;
    font-size: 0.5rem;
    color: #fff;
    text-align: center;
    line-height: 0.76rem;
    display: inline-block;
    border-radius: 0 0.76rem 0.76rem 0;
}
.renyuxian-content p{
    padding: 0.25rem;
    font-size: 0.6rem;
    color: #2f2f2f;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    margin-top: 1rem;
}
.renyuxian-declare{
    padding: 0.25rem;
    font-size: 0.55rem;
    color: #333333;
    font-family: "Microsoft YaHei";
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*dayima-app-content*/
.dayima-app-content{
    width: 100%;
    font-size: 125%;
    border: 1px solid #cccccc;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    padding: 0.25rem;
    box-sizing: border-box;
}
.app-content-text{
    width: 10rem;
    word-break: break-all;
    overflow: hidden;
    float: left;
}
.app-content-text h1{
    font-size: 0.75rem;
}
.app-content-text p{
    margin-top: 0.5rem;
    font-size: 0.6rem;
    color: #2f2f2f;
    text-decoration: underline;
}
.dayima-app-content .app-content-img{
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 0.5rem;
    overflow: hidden;
    float:left;
}
.dayima-app-content .app-content-img img{
    max-height: 3.5rem;
}