/*common-header start*/
.common-header{
    width: 100%;
    height: 2rem;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    overflow: hidden;
    position: fixed;
    z-index: 999;
}
.common-header .header-back-btn{
    width: 2rem;
    height: 2rem;
    background: url("../image/common_image/pic_headerBackBtn.png") no-repeat;
    background-size: 0.425rem 0.825rem;
    background-position: center;
    float: left;
}
.common-header h1{
    width: 100%;
    font-size: 0.75rem;
    color: #414141;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 2rem;
    text-align: center;
    position: absolute;
}
.common-header .header-info-btn{
    width: 2rem;
    height: 2rem;
    background: url("../image/common_image/pic_headerPersonInfoBtn.png") no-repeat;
    background-size: 0.65rem 0.825rem;
    background-position: center;
    float: right;
    display: none;/*暂时不显示该图标*/
}
.common-header .header-back-btn a,
.common-header .header-info-btn a{
    width: 100%;
    height: 100%;
    display: block;
}
/*common-header end*/

/*common footer start*/
.common-footer{
    width: 100%;
    height: 2rem;
    background-color: #fff;
    border-top: 1px solid #d6d6d6;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.common-footer h2{
    font-size: 0.75rem;
    color: #fe5380;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    line-height: 2rem;
}
/*common footer end*/