html{
    font-size: 125%;
    background-color: #f6f6f6;
}

.voucher-home-btn{
    width: 2rem;
    height: 2rem;
    background: url("../image/mall_vouchers/pic_vouchersGoHomeBtn.png") no-repeat;
    background-size: 0.8rem 0.775rem;
    background-position: center;
    float: right;
}
.voucher-home-btn a{
    width: 100%;
    height: 100%;
    display: block;
}
/*mall_vouchers start*/
.mall_vouchers .vouchers-nav{
    width: 100%;
    height: 1.7rem;
    background-color: #fff;
    padding: 0 0.5rem 0 0.5rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border-bottom: 1px solid #ececec;
    position: fixed;
    z-index: 999;
    top: 2rem;
    overflow: hidden;
}
.mall_vouchers .vouchers-nav ul{
    overflow: hidden;
}
.mall_vouchers .vouchers-nav li{
    width: 33.33%;
    height: 1.7rem;
    text-align: center;
    line-height: 1.7rem;
    float: left;
}
.mall_vouchers .vouchers-nav li > a{
    height: 1.7rem;
    font-size: 0.6rem;
    color: #414141;
    font-family: "Microsoft YaHei";
    display: inline-block;
}
.mall_vouchers .vouchers-nav .vouchers-active{
    color: #fe5380;
    border-bottom: 0.25rem solid #fe5380;;
    padding-bottom: 1px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.vouchers-details{
    padding: 3.7rem 0.5rem 0.5rem 0.5rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.vouchers-details li{
    width: 100%;
    height: 4rem;
    margin-top: 0.6rem;
    border-radius: 0.25rem;
    overflow: hidden;
}
.vouchers-details .not-used li{
    background: url("../image/mall_vouchers/bg_vouchersContentBg1.png") no-repeat;
    background-color: #fff;
    background-size: 100% 3.3rem;
}
.vouchers-details .not-used .voucher-content,
.vouchers-details .already-used .voucher-content{
    position: relative;
}
.vouchers-details .not-used .voucher-price,
.vouchers-details .already-used .voucher-price{
    width: 5.5rem;
    height: 4rem;
    line-height: 4rem;
    margin-left: 0.675rem;
    float: left;
    overflow: hidden;
}
.vouchers-details .not-used .voucher-price span{
    color: #fe5380;
    font-size: 1.2rem;
    font-family: "Microsoft YaHei";
}
.vouchers-details .not-used .voucher-price h2{
    display: inline-block;
    color: #fe5380;
    font-size: 2rem;
    font-family: "Arial";
    font-weight: normal;
}
.vouchers-details .not-used .voucher-info,
.vouchers-details .already-used .voucher-info{
    width: 7.75rem;
    height: 4rem;
    padding-top: 0.7rem;
    float: left;
    word-break: break-all;
}
.vouchers-details .not-used .voucher-info h2,
.vouchers-details .already-used .voucher-info h2{
    width: 6.5rem;
    color: #414141;
    font-family: "Microsoft YaHei";
    font-size: 0.65rem;
    font-weight: normal;
}
.vouchers-details .not-used .voucher-info p,
.vouchers-details .already-used .voucher-info p{
    width: 6.5rem;
    color: #414141;
    font-family: "Microsoft YaHei";
    font-size: 0.55rem;
    margin-top: 0.1rem;
}
.vouchers-details .not-used .voucher-info .info-date,
.vouchers-details .already-used .voucher-info .info-date{
    width: 100%;
    font-family: "Microsoft YaHei";
    font-size: 0.55rem;
    color: #787878;
    margin-top: 0.1rem;
}
.vouchers-details .not-used .state{
    height: 4rem;
    font-size: 0.6rem;
    color:#fe5380;
    line-height: 4rem;
    font-family: "Microsoft YaHei";
    position: absolute;
    right: 0.25rem;
}
/*already-used*/
.vouchers-details .already-used li{
    background: url("../image/mall_vouchers/bg_vouchersContentBg2.png") no-repeat;
    background-color: #fff;
    background-size: 100% 3.3rem;
}
.vouchers-details .already-used .voucher-price span{
    color: #d6d6d6;
    font-size: 1.2rem;
    font-family: "Microsoft YaHei";
}
.vouchers-details .already-used .voucher-price h2{
    display: inline-block;
    color: #d6d6d6;
    font-size: 2rem;
    font-family: "Arial";
    font-weight: normal;
}

.vouchers-details .already-used .state{
    height: 4rem;
    font-size: 0.6rem;
    color:#d6d6d6;
    line-height: 4rem;
    font-family: "Microsoft YaHei";
    position: absolute;
    right: 0.25rem;
}
#already-used{
    display: none;
}
#be-overdue{
    display: none;
}
/*mall_vouchers end*/