/*mall-header start*/
.mall-header .mall-banner{
    width: 100%;
    overflow: hidden;
}
.mall-header .mall-banner img{
    width: 100%;
}
/*mall-header end*/
/*mall-content start*/
.mall-nav{
    width: 100%;
    height: 2.2rem;
    overflow: hidden;
}
.mall-content .mall-nav .mall-nav-fixed{
    width: 100%;
    height: 2.2rem;
    overflow: hidden;
    white-space:nowrap;
    background: #fff;
    position: absolute;
    z-index: 999;
}
.mall-content .mall-nav .mall-nav-fixed li{
    font-size: 0.65rem;
    color: #4d4d4d;
    font-family: "Microsoft YaHei";
    line-height: 2.2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    display: inline-block;
}
.mall-content .content-header{
    width: 100%;
    height: 1.5rem;
    background: url("../image/bg_contentHeaderBg.png");
    background-size: 100% auto;
    background-color: #76dbd8;
    background-position: center;
    overflow: hidden;
}
.mall-content .content-header h2{
    font-size: 0.65rem;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    line-height: 1.5rem;
}
.mall-content  .content-hot .hot-details{
    width: 100%;
    background-color: #fff;
    padding-bottom: 0.8rem;
    overflow: hidden;
    position: relative;
}
.mall-content  .content-hot .hot-details .hot-banner{
    width: 100%;
    overflow: hidden;
}
.mall-content  .content-hot .hot-details .hot-banner img{
    width: 100%;
}
.mall-content  .content-hot .hot-details p{
    font-size: 0.65rem;
    line-height: 2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.mall-content  .content-hot .hot-details .hot-price{
    width: 100%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.mall-content  .content-hot .hot-details .hot-price em{
    color: #fe5380;
    font-size: 0.9rem;
}
.mall-content  .content-hot .hot-details .hot-price s{
    color: #b4b4b4;
    font-size: 0.6rem;
    margin-left: 0.6rem;
}
.mall-content  .content-hot .hot-details .hot-price button{
    width: 5.25rem;
    height: 1.35rem;
    background-color: #fe5380;
    font-size: 0.6rem;
    color: #fff;
    border-radius: 0.2rem;
    font-family: "Microsoft YaHei";
    position: absolute;
    right: 0.8rem;
}
.recommend-commodity .commodity-list{
    padding: 0 0.5rem 0.5rem 0.5rem;
    overflow: hidden;
}
.recommend-commodity .commodity-list .commodity-details{
    width: 7.25rem;
    background-color: #fff;
    margin-top: 0.5rem;
    display: inline-block;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.recommend-commodity .commodity-list .commodity-details:nth-child(odd){
    float: left;
}
.recommend-commodity .commodity-list .commodity-details:nth-child(even){
    float: right;
}
.recommend-commodity .commodity-list .commodity-details .commodity-img-box{
    width: 7.25rem;
    height: 7.25rem;
    overflow: hidden;
    display: block;
}
.recommend-commodity .commodity-list .commodity-details .commodity-img-box img{
    width: 100%;
    height: 100%;
}
.recommend-commodity .commodity-list .commodity-details .commodity-title p{
    font-size: 0.55rem;
    line-height: 0.75rem;
    padding: 0.35rem;
}
.recommend-commodity .commodity-list .commodity-details  s{
    font-size: 0.45rem;
    color: #a0a0a0;
    line-height: 0.6rem;
    padding: 0 0.35rem;
    display: block;
}
.recommend-commodity .commodity-list .commodity-details em{
    font-size: 0.6rem;
    color: #fe5380;
    padding: 0 0.35rem;
    display: block;
}
.recommend-commodity .commodity-list .commodity-details button{
    width: 100%;
    height: 1.35rem;
    font-size: 0.6rem;
    font-family: "Microsoft YaHei";
    color: #fff;
    background-color: #fe5380;
}
/*mall-content end*/
