html{
    font-size: 125%;
}

body{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
.video-content-main{
    max-width: 90%;
    margin: 1rem auto;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    background-color: #fcfcfc;
    overflow: hidden;
}
.video-content-main .content-main{
    overflow: hidden;
    padding: 0.5rem;
}
.video-content-main .content-main .player-btn{
    float: left;
    width: 1.75rem;
    height: 1.75rem;
    background-image: url("../image/video/3.png");
    background-repeat: no-repeat;
    background-size: 0.9rem 1.25rem;
    background-position: center;
}
.video-content-main .content-main .pl-animation{
    -webkit-animation: audio_playing 1.5s infinite;
}
@-webkit-keyframes audio_playing {
    30% {
        background-image: url("../image/video/1.png");
    }

    31% {
        background-image: url("../image/video/1.png");
    }

    61% {
        background-image: url("../image/video/2.png");
    }

    62% {
        background-image: url("../image/video/2.png");
    }

    100% {
        background-image: url("../image/video/3.png");
    }
}
.video-content-main .content-main .player-info{
    float: left;
    margin-left: 0.5rem;
    width: 8rem;
    overflow: hidden;
}
.video-content-main .content-main .player-info p{
    font-size: 0.65rem;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    margin-bottom: -0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video-content-main .content-main .player-info i{
    font-size: 0.5rem;
    font-family: "Microsoft YaHei";
    color: #8c8c8c;
}
.video-content-main .content-main .player-time{
    float: right;
}
.video-content-main .content-main .player-time p{
    font-size: 0.55rem;
    line-height: 0.55rem;
    font-family:"Microsoft YaHei";
    margin-top: 0.1rem;
    color: #8c8c8c;
}
.video-content-main  .progress-bar{
    background-color: #ebebeb;
    width: 100%;
    height: 1px;
    overflow: hidden;
}
.video-content-main  .progress-bar .bar-content{
    width: 0%;
    height: 1px;
    background-color: #0cbb08;
}