/*commodityList*/
.clearFloat{
    overflow: hidden;
}
.commodityList{
    width: 7.65rem;
    height: 11.5rem;
    margin-top: .5rem;
    margin-left: .225rem;
    display: block;
    float: left;
}
.commodityList .imgBox{
    width: 7.65rem;
    height: 7.65rem;
    border: 1px solid #aa7358;
    overflow: hidden;
    display: block;
}
.commodityList .imgBox img{
    width: 100%;
    height: 100%;
    display: block;
}
.commodityList .commodityName{
    width: 6.7rem;
    height: 1.7rem;
    overflow: hidden;
    margin-top: .2rem;
    margin-left: .2rem;
}
.commodityList .commodityName p{
    line-height: .85rem;
    font-size: .6rem;
    font-weight: normal;
    /*font-family: "Microsoft YaHei";*/
    color: #aea29c;
}
.commodityList .commodityPrice{
    width: 6.7rem;
    height: 1.375rem;
    margin-top: .2rem;
    margin-left: .2rem;
}
.commodityList .commodityPrice .currentPrice{
    font-size: .6rem;
    font-family: "Microsoft YaHei";
    color: #ffbca6;
    font-weight: normal;
    display: block;
}
.commodityList .commodityPrice .originalCost{
    font-size: .45rem;
    font-family: "Microsoft YaHei";
    color: #aea29c;
    display: block;
}