html{
    font-size: 125%;
    background-color: #4a2000;
}
main{
    width: 100%;
    overflow: hidden;
}
/*topbanner start...*/
.header{
    width: 100%;
}
.header .topBanner{
    width: 100%;
    display: block;
}
.header .topBanner img{
    width: 100%;
    display: block;
}
.header .topcontent{
    width: 11.7rem;
    height: 1.4rem;
    background-color: #763332;
    position: absolute;
    top: 11.57rem;
    left: 2.325rem;
}
.header .topcontent .topText{
    width: 6.475rem;
    height: 0.85rem;
    margin-top: 0.25rem;
    margin-left: 0.85rem;
    float: left;
}
.header .topcontent .topClick{
    width: 3.375rem;
    height: 0.925rem;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    float: left;
}
.header .topcontent .topClick img,
.header .topcontent .topText img{
    width: 100%;
    display: block;
}
/*topbanner end...*/
/*guimiContent start...*/
.guimiContent{
    width: 100%;
}
.guimiContent .shareGoddess{
    width: 100%;
    display: block;
}
.guimiContent .shareGoddess img{
    width: 100%;
}
  /*”≈ª›»Ø*/
.couponBox{
    width: 100%;
    height: 1.8rem;
    background-color: #feafbc;
    overflow: hidden;
    display: block;
}
.couponBox .coupon1{
    width: 3.675rem;
    height: 1.5rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
    display: block;
    float: left;
}
.couponBox .coupon2{
    width: 3.68rem;
    height: 1.5rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
    display: block;
    float: left;
}
.couponBox .coupon3{
    width: 4.15rem;
    height: 1.5rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
    display: block;
    float: left;
}
.couponBox .coupon1 img,
.couponBox .coupon2 img,
.couponBox .coupon3 img
{
    width: 100%;
    display: block;
}
  /*banner*/
.guimibanner{
    width: 100%;
    display: block;
    margin-top: 0.25rem;
}
.guimibanner img {
    width: 100%;
    display: block;
}
/*guimiContent end...*/
/*guimimeeting start...*/
.guimiMeeting{
    width: 100%;
    display: block;
}
.guimiMeeting .guimiMeetingImgBox{
    width: 100%;
    margin-top: 0.25rem;
}
.guimiMeeting .guimiMeetingImgBox img{
    width: 100%;
    display: block;
}
.guimiMeeting .guimiMeetingContent .guimiMeetingVideo{
    width: 96%;
    background:url("../images/bg_videoBg.jpg") no-repeat;
    background-size: 100% 100%;
    /*border: 1px solid #ffcebe;*/
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.guimiMeeting .guimiMeetingContent .guimiMeetingVideo video{
    width: 100%;
    display: block;
}
/*photo*/
#photo1,
#photo4,
#photo5
{
    width: 13.75rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
#photo2{
    width: 7.95rem;
    margin-left: 0.25rem;
    float: left;
}
/*#photo2 p{*/
    /*font-size: 0.55rem;*/
    /*font-weight: bold;*/
    /*line-height: 1.2rem;*/
    /*color: #f6f5f4;*/
/*}*/
#photo3{
    width: 7.275rem;
    margin-left: 0.25rem;
    text-align: center;
    display: block;
    float: left;
}
.twophotoTop p{
    text-align: left;
}
#photo6,
#photo7
{
    width: 7.3rem;
    margin-left: .5rem;
    float: left;
}
#bootomText{
    margin-bottom: 1rem;
}
.guimiMeetingPhoto img{
    width: 100%;
    display: block;
}
.guimiMeetingPhoto p{
    font-size: 0.55rem;
    font-weight: bold;
    line-height: 0.75rem;
    text-align: center;
    color: #f6f5f4;
    margin-top: 0.25rem;
}
.guimiMeetingPhoto .photoClearFloat {
    margin-top: 0.5rem;
    overflow: hidden;
}
/*guimimeeting end...*/