html{
    font-size: 125%;
    font-family: "Microsoft YaHei";
}
/*signin-main start*/
.signin-main{
    width: 100%;
    background: url("../image/signin_backgroundImg.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
}
.signin-main h1{
    font-size: 1.25rem;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    padding-top: 2.9rem;
    padding-bottom: 2.125rem;
    box-sizing: border-box;
}
/*input*/
.signin-main .signin-input{
    width: 12.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.9rem;
}
/*button*/
.signin-main button{
    width: 12.25rem;
    height: 1.8rem;
    margin-top: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.8rem;
    display: block;
}
.signin-main button a{
    font-size: 0.75rem;
    color: #fff;
    font-family: "Microsoft YaHei";
    display: block;
}
#signin-signin{
    background-color: #fe5380;
}
#signin-register{
    background: none;
    box-sizing: border-box;
    border: 0.1rem solid #fff;
}
/*shareIcon*/
.signin-main .signin-shareicon{
    width: 12.25rem;
    margin-top: 3.55rem;
    margin-left: auto;
    margin-right: auto;
}
.signin-main .signin-shareicon image{
    width: 100%;
}
#sina{
    width: 1.475rem;
    margin-left: 0.875rem;
    margin-right: 2.82rem;
}
#QQ{
    width: 1.225rem;
    margin-right: 2.82rem;
}
#wechat{
    width: 1.55rem;
}
/*bottom*/
.signin-main .signin-bottom{
    margin-top: 3.55rem;
    margin-right: auto;
    margin-left: auto;
}
.signin-main .signin-bottom p{

}
/*signin-main end*/
