/*顶部*/
.east-header{
    width: 1200px;
    height: 130px;
    overflow: hidden;
    margin: 0 auto;
}
.east-header .header-logo{
    margin-top: 42px;
    margin-left: 18px;
    overflow: hidden;
    float: left;
}
.east-header .header-logo img{
    width: 277px;
    height: 49px;
    display: block;
}
.east-header .header-logo .logo-text{
    margin-top: 5px;
}
.east-header .header-logo .logo-text p{
    width: 277px;
    color: #221815;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    float: left;
}
#text-website{
    text-align: center;
}
.east-header .chose-language{
    margin-top: 72px;
    margin-right: 40px;
    width: 120px;
    overflow: hidden;
    float: right;
}
.east-header .chose-language ul{
    overflow: hidden;
}
.east-header .chose-language li{
    float: left;
    color: #111111;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    cursor:pointer;
}
.east-header .chose-language li:hover{
    color: #c30d23;
}

.east-header .chose-language span{
    color: #111111;
    font-size: 16px;
    float: left;
}
.east-header .header-title{
    margin-top: 68px;
    margin-right: 80px;
    overflow: hidden;
    float: right;
}
/*导航*/
.east-nav{
    width: 100%;
    background-color: #203857;
}
.east-nav ul{
    width: 1200px;
    height: 50px;
    background-color: #203857;
    margin: 0 auto;
}
.east-nav li{
    width: 140px;
    height: 50px;
    text-align: center;
    float: left;
}
.east-nav .nav-chose{
    background-color: #0e1727;
}
.east-nav .nav-chose span{
    width: 15px;
    height: 7px;
    background: url("../image/dfkhg_index/index_navUp.png");
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 99;
}
.east-nav li:hover{
    background-color: #0e1727;
}
/*.east-nav li:hover span{*/
    /*width: 15px;*/
    /*height: 7px;*/
    /*background: url("../image/dfkhg_index/index_navUp.png");*/
    /*display: block;*/
    /*margin: 0 auto;*/
/*}*/
.east-nav a{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: #fff;
    line-height: 50px;
    display: block;
}
/*轮播*/
.east-banner{
    width: 100%;
    overflow: hidden;
}
.east-banner .banner { position: relative; overflow: auto; text-align: center;}
.east-banner .banner li { list-style: none;}
.east-banner .banner li > img{min-width: 1200px;}
.east-banner .banner ul li { float: left; }
#b06 { width: 640px;}
#b06 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
#b06 .dots li
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
#b06 .dots li.active
{
    background: #0735d0;
    opacity: 1;
}
#b06 .arrow { position: absolute; top: 44%;}
#b06 #al { left: 18%;}
#b06 #ar { right: 18%;}
#web-ps{
    width: 340px;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 860px;
    font-size: 13px;
    color: #221815;
    font-family: "Microsoft YaHei ";
    /*box-sizing:border-box;*/
    /*-moz-box-sizing:border-box; /!* Firefox *!/*/
    /*-webkit-box-sizing:border-box; /!* Safari *!/*/
}
/*友情链接*/
.friend-link{
    width: 100%;
    height: 110px;
    background-color: #f9f9f9;
    border-top: 1px solid #eeeeee;
    border-bottom: 4px solid #203857;
}
.friend-link .link-title{
    width: 1200px;
    height: 48px;
    margin: 0 auto;
}
.friend-link .link-title p{
    line-height: 48px;
    font-size: 14px;
    color: #333333;
    font-family: "Microsoft YaHei";
    display: inline-block;
    border-bottom: 2px solid #203857;
}
.friend-link .link-title span{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    display: block;
    margin-top: -1px;
}
.friend-link .link-details{
    width: 1200px;
    margin: 16px auto;
    overflow: hidden;
}
.friend-link .link-details li{
    margin-right: 20px;
    float: left;
}
.friend-link .link-details li>a{
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #666666;
}
.friend-link .link-details li:hover a{
    color: #203857;
}
.east-footer{
    width: 100%;
    height: 246px;
    padding-top: 20px;
    background-color: #3c3c3c;
}

.east-footer .footer-nav ul{
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}
.east-footer .footer-nav li{
    display: inline-block;
}
.east-footer .footer-nav li>a{
    font-size: 14px;
    color: #fff;
    font-family: "Microsoft YaHei";
}
.east-footer .footer-nav li:hover a{
    color: #eeeeee;
}
.east-footer .footer-nav span{
    font-size: 14px;
    color: #fff;
    font-family: "Microsoft YaHei";
    display: inline-block;
}
.east-footer p{
    font-size: 12px;
    color: #999;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.east-footer .footer-qualifications{
    text-align: center;
    margin-top: 20px;
}
.east-footer .footer-qualifications li{
    display: inline-block;
}
/*go top*/
.go-top{
    /*width: 58px;*/
    /*height: 58px;*/
    padding: 19px 18px;
    border: 1px solid #f0f0f0;
    background-color: #f6f6f6;
    position: fixed;
    bottom: 100px;
    right: 13%;
    z-index: 999;
    display: none;
}
.go-top image{
    width: 20px;
    height: 22px;
    margin: auto;
}