html{
    background-color: #fff;
}
.web-main{
    width: 100%;
}
.east-content{
    width: 1200px;
    background-color: #fff;
    margin: 0 auto;
}
.east-content .east-science{

}
.east-content .east-science h1,
.east-content .content-main h1,
.east-content .content-news h1{
    color: #333333;
    font-family: "Microsoft YaHei";
    font-size: 28px;
    font-weight: normal;
    line-height: 75px;
}
.east-content .east-science  .science-introduce{
    overflow: hidden;
}
.east-content .east-science  .science-introduce .introduce-details{
    overflow: hidden;
}
.east-content .east-science  .science-introduce .introduce-details li{
    width: 399px;
    height: 238px;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    float: left;
    overflow: hidden;
}
.east-content .east-science  .science-introduce .introduce-details .right-li{
    width: 398px;
    border-right: 1px solid #ebebeb;
}
.east-content .east-science  .science-introduce .introduce-details .details-img-box{
   width: 333px;
    height: 140px;
    margin: 30px auto;
}
.east-content .east-science  .science-introduce .introduce-details p{
    font-size: 18px;
    color: #333333;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.east-content .east-science  .science-introduce .introduce-details p > span{
    color: #059cdc;
}
.east-content .east-science  .science-introduce .science-trademark{
    margin-top: 30px;
    overflow: hidden;
}
.east-content .east-science  .science-introduce .science-trademark li{
    width: 400px;
    height: 160px;
    float: left;
    overflow: hidden;
}
.east-content .east-science  .science-introduce .science-trademark .trademark-img-box{
    width: 200px;
    height: 160px;
    background-color: #ebebeb;
    float: left;
    position: relative;
    overflow: hidden;
}
.east-content .east-science  .science-introduce .science-trademark .trademark-img-box img{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.east-content .east-science  .science-introduce .science-trademark  .trademark-text-box{
    width: 180px;
    height: 110px;
    padding: 50px 10px 0 10px;
    background-color: #203857;
    float: left;
}
.east-content .east-science  .science-introduce .science-trademark  .trademark-text-box h2{
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #fff;
    line-height: 22px;
}
.east-content .east-science  .science-introduce .science-trademark  .trademark-text-box p{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #fff;
    line-height: 30px;
}
.east-content .content-main{
    margin-top: 20px;
    overflow: hidden;
}
.east-content .content-main .main-box{
    margin-bottom: 18px;
}
.east-content .content-main .main-box .box-title{
    border-left: 4px solid #16203c;
    line-height: 20px;
    padding-left: 12px;
    color: #333333;
    font-size: 18px;
    font-family: "Microsoft YaHei";
}
.east-content .content-main .main-box .main-list{
    overflow: hidden;
}
.east-content .content-main .main-box .main-list .read-more{
    width: 100%;
    height: 30px;
    text-align: right;
}
.east-content .content-main .main-box .main-list .read-more a{
    font-size: 12px;
    line-height: 30px;
    color: #333;
    font-family: "Microsoft YaHei";
}
.east-content .content-main .main-box .main-list .read-more a:hover{
    color: #059cdc;
}
.east-content .content-main .main-box .main-list .details-box{
    width: 285px;
    margin-right: 20px;
    float: left;
}
.east-content .content-main .main-box .main-list  .last-box{
    margin: 0;
}
.east-content .content-main .main-box .main-list .details-box p{
    font-size: 13px;
    color: #333333;
    font-family: "Microsoft YaHei";
    line-height: 50px;
}
.east-content .content-news{
    overflow: hidden;
}
.east-content .content-news .news-content{
    width: 100%;
    padding-top: 24px;
    padding-bottom: 40px;
    border-top: 1px solid #eeeeee;
    overflow: hidden;
}
.east-content .content-news .news-content .news-picture{
    width: 480px;
    margin-right: 22px;
    float: left;
    overflow: hidden;
}
.east-content .content-news .news-content .news-picture .picture-one{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.east-content .content-news .news-content .news-picture .picture-two{
    width: 230px;
    position: relative;
    overflow: hidden;
    float: left;
}
.east-content .content-news .news-content .news-picture .picture-three{
    width: 230px;
    position: relative;
    overflow: hidden;
    float: right;
}
.east-content .content-news .news-content .news-picture .picture-one .picture-text,
.east-content .content-news .news-content .news-picture .picture-two .picture-text,
.east-content .content-news .news-content .news-picture .picture-three .picture-text {
    width: 100%;
    height: 30px;
    background: url("../image/dfkhg_index/index_newPictureBg.png");
    position: absolute;
    bottom: 0;
}
.east-content .content-news .news-content .news-picture .picture-one .picture-text p,
.east-content .content-news .news-content .news-picture .picture-two .picture-text p,
.east-content .content-news .news-content .news-picture .picture-three .picture-text p{
    text-align: center;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #fff;
}
.east-content .content-news .news-text{
    width: 410px;
    height: 380px;
    padding-right: 20px;
    float: left;
    border-right: 1px solid #eeeeee;
    overflow: hidden;
}
.east-content .content-news .news-text .news-text-details{
    height: 190px;
    overflow: hidden;
}
.east-content .content-news .news-text span{
    width: 100%;
    display: block;
    border-bottom: 1px dotted #cccccc;
}
.east-content .content-news .news-text .news-text-details h2{
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: #000000;
    line-height: 30px;
}
.east-content .content-news .news-text .news-text-details li{
    width: 100%;
    height: 28px;
    overflow: hidden;
}
.east-content .content-news .news-text .news-text-details .details-title{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #333333;
    float: left;
    cursor:pointer;
}
.east-content .content-news .news-text .news-text-details .details-title:hover{
    color: #233959;
}
.east-content .content-news .news-text .news-text-details .details-date{
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #999999;
    float: right;
}
#industry-text{
    height: 170px;
    padding-top: 20px;
}
#company-news{
    height: 170px;
    padding-bottom: 20px;
}
.east-content .content-news .company-partner{
    width: 240px;
    height: 380px;
    float: right;
    overflow: hidden;
}
.east-content .content-news .company-partner .partner-title{
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}
.east-content .content-news .company-partner .partner-title h2{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #333333;
    border-left: 4px solid #203351;
    padding-left: 16px;
    float: left;
}
.east-content .content-news .company-partner .partner-title .partner-chose{
    width: 70px;
    float: right;
    overflow: hidden;
}
.east-content .content-news .company-partner .partner-title .partner-chose .chose-left-btn{
    width: 16px;
    height: 16px;
    background: url("../image/dfkhg_index/index_newsLeftBtn.png");
    float: left;
}
.east-content .content-news .company-partner .partner-title .partner-chose .chose-left-btn:hover{
    background: url("../image/dfkhg_index/index_newsLeftBtn01.png");
}
.east-content .content-news .company-partner .partner-title .partner-chose .chose-right-btn{
    width: 16px;
    height: 16px;
    background: url("../image/dfkhg_index/index_newsRightBtn.png");
    float: right;
}
.east-content .content-news .company-partner .partner-title .partner-chose .chose-right-btn:hover{
    background: url("../image/dfkhg_index/index_newsRightBtn01.png");
}
.east-content .content-news .company-partner .partner-title .partner-chose p{
    color: #666666;
    font-family: "Arial";
    font-size: 12px;
    text-align: center;
}
.east-content .content-news .company-partner .partner-details{
    overflow: hidden;
}
.east-content .content-news .company-partner .partner-details li{
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
}
.east-content .content-news .company-partner .partner-details .partner-img-box{
    width: 80px;
    height: 80px;
    float: left;
    overflow: hidden;
}
.east-content .content-news .company-partner .partner-details .partner-img-box img{
    width: 100%;
    height: 100%;
}
.east-content .content-news .company-partner .partner-details .partner-text-box{
    width: 126px;
    padding-top: 14px;
    margin-left: 10px;
    float: left;
    overflow: hidden;
}
.east-content .content-news .company-partner .partner-details .partner-text-box em{
    color: #333333;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
.east-content .content-news .company-partner .partner-details .partner-text-box p{
    font-size: 12px;
    color: #999;
    font-family: "Microsoft YaHei";
}
.contact-us{
    position: fixed;
    top: 300px;
    right: 0;
    overflow: hidden;
}
.contact-us .link-me{
    width: 50px;
    height: 92px;
    padding-top: 8px;
    background-color: #203857;
    -moz-border-radius: 10px 0 0 10px; /* Firefox */
    -webkit-border-radius:10px 0 0 10px; /* Safari 和 Chrome */
    border-radius: 10px 0 0 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    float: left;
    cursor: pointer;
}
.contact-us .link-me img{
    display: block;
    margin: 10px auto;
}
.contact-us .link-me em{
    width: 2em;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #fff;
    display: block;
    margin: 0 auto;
}
.contact-us .give-message{
    width: 208px;
    height: 238px;
    background-color: #fff;
    float: right;
    overflow: hidden;
    border: 1px solid #eee;
    display: none;
}
.contact-us .give-message p{
    line-height: 30px;
    background-color: #f5f5f5;
    text-align: center;
    color: #333333;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
.contact-us .give-message textarea{
    width: 158px;
    height: 100px;
    border: 1px solid #f0f0f0;
    display: block;
    margin: 14px auto;
    font-size: 12px;
    color: #cccccc;
    font-family: "Microsoft YaHei";
    padding: 10px;
}
.contact-us .give-message .message-btn{
    width: 180px;
    height: 40px;
    background-color: #203857;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}