html{
    background-color: #f6f6f6;
}

.noBlogContent{
    width: 100%;
    margin-top: 7rem;
    text-align: center;
}

.noBlogContent img{
    width: 4.9rem;
    height: 4.9rem;
}

.noBlogContent p{
    font-size: .7rem;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    color: #414141;
    margin-top: 1rem;
}
