html{
    font-size: 125%;
    background-color: #2f007a;
}
.main{
    width: 100%;
}

/*topBanner*/
.topBanner{
    width: 100%;
    height: 11.4rem;
    background-color: #2f007a;
    position: relative;
    z-index: 800;
}
.topBanner img{
    width: 100%;
    display: block;
}
.topBanner .newTicket{
    width: 100%;
    height: 2.65rem;
    position: absolute;
    bottom: 0;
    z-index: 999;
}
.topBanner .newTicket img{
    width: 100%;
    display: block;
}
/*characterWall*/
.characterWall{
    width: 100%;
    height: 7.8rem;
    display: block;
}
.characterWall img{
    width: 100%;
    display: block;
}
/*Coupons*/
.coupons{
    width: 100%;
    height: 3.65rem;
    background-color: #050246;
}
.coupons img{
    width: 100%;
    display: block;
}
.coupons .couponsImg{
    width: 7.25rem;
    height: 2.85rem;
    margin-top: .45rem;
    margin-left: .4rem;
    display: block;
}
.coupons .birthdayCoupons{
    width: 50%;
    height: 3.65rem;
    float: left;
}
.coupons .anniversary{
    width: 50%;
    height: 3.65rem;
    float: left;
}
/*hotList*/
.hotList {
    width: 100%;
    height: 28rem;
    overflow: hidden;
}

/*seckillList*/
.seckillList{
    width: 100%;
    height: 16.45rem;
    overflow: hidden;
}
.seckillListNull img{
    width: 7.65rem;
    height: 7.65rem;
    margin: 1px;
    display: block;
    position: absolute;
    z-index: 999;
}
/*huddleList*/
.huddleList{
    width: 100%;
    height: 16.3rem;
    overflow: hidden;
}
