.row{
    margin: 0!important;
    padding: 0!important;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
.vsamba{
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}
.vsamba .full-page{
    width: 100%;
    padding-bottom: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.vsamba .sign-in-info{
    width: 500px;
    height: 310px;
    padding-top: 20px;
    margin: 200px auto;
    border: 1px solid #2aabd2;
    border-radius: 10px;
}
.vsamba .sign-in-info .sign-in-title{
    font-size: 30px;
    text-align: center;
    color: #2aabd2;;
}
.vsamba .sign-in-info .pass-word,
.vsamba .sign-in-info .user-name{
    width: 300px;
    height: 50px;
    margin: 20px auto;
    overflow: hidden;
}
.vsamba .sign-in-info .pass-word{
    letter-spacing: 8px;
}
.vsamba .sign-in-info .pass-word p,
.vsamba .sign-in-info .user-name p{
    width: 100px;
    font-size: 18px;
    color: #2aabd2;
    line-height: 50px;
    float: left;
}
.vsamba .sign-in-info .pass-word input,
.vsamba .sign-in-info .user-name input{
    width: 200px;
    margin-top: 10px;
    border: 1px solid #2aabd2;
    padding: 3px 10px;
    color: #000;
    font-size: 16px;
}
.vsamba .sign-in-info .sign-in-btn{
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.vsamba .sign-in-info .sign-in-btn button{
    text-align: center;
    width: 120px;
    height: 50px;
    font-size: 18px;
    color: #2aabd2;
    background-color: #fff;
    border: 1px solid #2aabd2;
    border-radius: 5px;
    display: block;
}
.vsamba .sign-in-info .sign-in-btn .sign-confirm{
    float: left;
}
.vsamba .sign-in-info .sign-in-btn .sign-confirm:hover{
    color: #fff;
    background-color: #2aabd2;
}
.vsamba .sign-in-info .sign-in-btn .sign-cancel{
    float: right;
}
.vsamba .sign-in-info .sign-in-btn .sign-cancel:hover{
    color: #fff;
    background-color: #666;
    border: 1px solid #666;
}

