.row{
    margin: 0!important;
    padding: 0!important;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
.vsamba-list{
    width: 100%;
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}
.vsamba-list .list-details{
    width: 1200px;
    margin: 0 auto;
}
.vsamba-list .list-details .vsamba-list-info{
    margin-top: 50px;
    overflow: hidden;
}
.vsamba-list .list-details .vsamba-list-info .info-volume{
    width: 550px;
    height: 220px;
    border: 1px solid #2aabd2;
    border-radius: 10px;
    overflow: hidden;
    float: left;
}
.vsamba-list .list-details .vsamba-list-info .info-rate{
    width: 550px;
    height: 220px;
    border: 1px solid #2aabd2;
    border-radius: 10px;
    overflow: hidden;
    float: right;
}
.vsamba-list .list-details .vsamba-list-info .info-rate .rate-title,
.vsamba-list .list-details .vsamba-list-info .info-volume .volume-title{
    background-color: #2aabd2;;
    overflow: hidden;
}
.vsamba-list .list-details .vsamba-list-info .info-rate .rate-title p{
    font-size: 30px;
    margin: 10px 20px;
    color: #fff;
}
.vsamba-list .list-details .vsamba-list-info .info-volume .volume-title p{
    width: 200px;
    font-size: 30px;
    margin: 10px 20px;
    float: left;
    color: #fff;
}
.vsamba-list .list-details .vsamba-list-info .info-volume ul{
    overflow: hidden;
}
.vsamba-list .list-details .vsamba-list-info .info-volume li{
    overflow: hidden;
}
.vsamba-list .list-details .vsamba-list-info .info-volume li>p{
    width: 200px;
    line-height: 50px;
    font-size: 18px;
    margin: 10px 20px;
    color: #666;
    float: left;
}
.vsamba-list .list-details .vsamba-list-info .info-rate .rate-details{
    font-size: 100px;
    color: #666;
    text-align: center;
}
.vsamba-list .list-details .order-statistics{
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #2aabd2;
    overflow: hidden;
}
.vsamba-list .list-details .order-statistics h3{
    padding-left: 10px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #2aabd2;
}
.vsamba-list .list-details .order-statistics .order-details{
    width: 1100px;
    margin: 30px auto;
}
.vsamba-list .list-details .order-statistics .order-details table{
    width: 100%;
}
.vsamba-list .list-details .order-statistics .order-details tr{

}
.vsamba-list .list-details .order-statistics .order-details td{
    font-size: 16px;
    line-height: 40px;
    padding-left: 10px;
}
