/* touchSlide部分 */
.focus{ width:100%; height:100%;  margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:.3rem; text-align:center;  }
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px;
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
}
.focus .hd ul li{ display:inline-block; width:10px; height:10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#fcbe2a;  }

.focus .bd{ position:relative;height: 100%; z-index:0; }
.focus .bd li{height: 12.25rem;}
.focus .bd li .liBox{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);display: block;height: 100%; /* 取消链接高亮 */  }

.row
{
    margin: 0;
}
ol, ul, dl
{
	margin-bottom: 0;
}


.topModule
{
    width: 100%;
    height: 8.625rem;
    background: url("../image/topModuleBg.jpg") no-repeat center bottom;
    background-size: 100% auto;
    overflow: hidden;
}
.topModule .ruleButton
{
    width: 4.425rem;
    height:1.225rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.55rem;
    background: url("../image/ruleButton.png") no-repeat;
    background-size: 100% 100%;
}
.secondModule
{
    width: 100%;
    height:17.25rem;
    background: url("../image/secondModuleBg.jpg") no-repeat;
    background-size: 100% auto;
}
.secondModule .pokerBox
{
    width:14.4rem;
    height: 14.4rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: .4rem;
    position: relative;
    top: -2.1rem;
    background-color: #fcbe2a;
    overflow: hidden;
    box-shadow: 0 0 29px 10px rgba(250,214,48,.31);
}
.secondModule .pokerBox .insideBox
{
    width: 13.15rem;
    height: 13.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .55rem;
    border-radius: .4rem;
    background-color: #d79803;
    position: relative;
}
/* 改动翻牌子 */
.poker .pointer,
.poker2 .pointer2 .front
{
    background: url("../image/point01.png") no-repeat;
    background-size: 100% 100%;
}
.poker .pointer p,
.poker2 .pointer2 .front p
{
    line-height: 4rem;
    text-align: center;
    color: #453204;
    font-size: .5rem;
    font-weight: bold;
    font-family: "Microsoft YaHei";
}
.poker2 .pointer2 .back img
{
    width: 100%;
    display: block;
}
/* 改动翻牌子 end */
.thirdModule
{
    width: 100%;
    height: 14.9rem;
    overflow: hidden;
    margin-top: -2.45rem;
    position: relative;
}
.thirdModule .title
{
    width: 10.25rem;
    height: 2.4rem;
    background: url("../image/commonTitleBg.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.thirdModule .title p
{
    font-size: .7rem;
    color: #080103;
    font-weight: bold;
    margin-top: .35rem;
    font-family: "Microsoft YaHei";
}
.thirdModule .sliderModule
{
    width: 14.4rem;
    height: 12.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .25rem;
    position: relative;
    background-color: #fdf4de;
    border-radius: .4rem;
    z-index: 2;
}
.thirdModule .sliderModule .cellModule
{
    width: 13.4rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .6rem;
    overflow: hidden;
    display: block;
}
.thirdModule .sliderModule .cellModule .nameModule
{
    width:4.25rem;
    height: 5rem;
    background-color: #fcbe2a;
    position: relative;
    border-radius: .4rem;
}
.thirdModule .sliderModule .cellModule .nameModule p
{
    width: 3.4rem;
    line-height: .95rem;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: .6rem;
    color: #080103;
    font-weight: bold;
    -webkit-transform: translate(-50%,-50%);
}
.thirdModule .sliderModule .cellModule .nameModule .sj
{
    width: 0;
    height: 0;
    border-bottom: .8rem solid #fcbe2a;
    border-left: .4525rem solid transparent;
    border-right: .4525rem solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -.4rem;
}
.thirdModule .sliderModule .cellModule .imgBox
{
    width: 8rem;
    height: 100%;
    overflow: hidden;
}
.thirdModule .sliderModule .cellModule:first-child .nameModule
{
    float: left;
}
.thirdModule .sliderModule .cellModule:first-child .nameModule .sj
{
    right: -.7rem;
    -webkit-transform: rotate(90deg);
}
.thirdModule .sliderModule .cellModule:first-child .imgBox
{
    float: right;
}
.thirdModule .sliderModule .cellModule:last-child .nameModule
{
    float: right;
}
.thirdModule .sliderModule .cellModule:last-child .nameModule .sj
{
    left: -.7rem;
    -webkit-transform: rotate(-90deg);
}
.thirdModule .sliderModule .cellModule:last-child .imgBox
{
    float: left;
}
.thirdModule .sliderModule .cellModule .imgBox img
{
    width: 100%;
    display: block;
}
.thirdModule .backgroundBlack
{
    height: 11.95rem;
    width: 100%;
    background-color: #2a2829;
    position: absolute;
    top: 2.45rem;
}


.sweet-heart{
    padding: 3.15rem 0.8rem 0 0.8rem;
    background: url("../image/contentBg1.png") no-repeat;
    background-size: 100%;
    margin-top: -0.75rem;
    background-color: #2a2829;
}
.common-title{
    width: 100%;
    height: 2.4rem;
    text-align: center;
    background: url("../image/commonTitleBg.png") no-repeat;
    background-size: 10.25rem 2.4rem;
    background-position: center;
}
.common-title p{
    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: #080103;
    font-size: 0.7rem;
    padding-top: 0.25rem;
}
.sweet-heart .sweet-content{
    width: 100%;
    height: 15rem;
    background-color: #fcbe2a;
    border-radius: 0.35rem;
    overflow: hidden;
    margin-top: 0.25rem;
    padding: 0.75rem 0.5rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    position: relative;
}
.sweet-heart .sweet-content .sweet-left{
    width: 6.5rem;
    height: 100%;
    float: left;
    overflow: hidden;
}
.sweet-heart .sweet-content .sweet-right{
    width: 6.5rem;
    height: 100%;
    float: right;
    overflow: hidden;
}
.sweet-heart .sweet-content .sweet-left .sweet-video-one,
.sweet-heart .sweet-content .sweet-right .sweet-video-one{
    width: 100%;
    height: 9rem;
    overflow: hidden;
    position: relative;
    display: block;
}
.sweet-heart .sweet-content .sweet-left .sweet-video-two,
.sweet-heart .sweet-content .sweet-right .sweet-video-two{
    width: 100%;
    height: 4rem;
    overflow: hidden;
    position: relative;
    display: block;
}
.sweet-heart .sweet-content .sweet-left .sweet-video-one,
.sweet-heart .sweet-content .sweet-right .sweet-video-two{
    margin-bottom: 0.5rem;
}
.sweet-heart .sweet-content .sweet-left .sweet-video-one img,
.sweet-heart .sweet-content .sweet-left .sweet-video-two img,
.sweet-heart .sweet-content .sweet-right .sweet-video-one img,
.sweet-heart .sweet-content .sweet-right .sweet-video-two img{
    width: 100%;
    display: block;
}
.sweet-heart .sweet-content .sweet-left .sweet-video-one .video-mask,
.sweet-heart .sweet-content .sweet-left .sweet-video-two .video-mask,
.sweet-heart .sweet-content .sweet-right .sweet-video-one .video-mask,
.sweet-heart .sweet-content .sweet-right .sweet-video-two .video-mask
{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
}
.sweet-heart .sweet-content .sweet-left .sweet-video-one .play-icon,
.sweet-heart .sweet-content .sweet-left .sweet-video-two .play-icon,
.sweet-heart .sweet-content .sweet-right .sweet-video-one .play-icon,
.sweet-heart .sweet-content .sweet-right .sweet-video-two .play-icon{
    width: 1.5rem;
    height: 1.5rem;
    background: url("../image/videoPlayIcon.png") no-repeat;
    background-size: 100% 100%;
    margin: auto auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.new-food{
    padding-top: 3.75rem;
    background: url("../image/contentBg2.png") no-repeat;
    background-size: 100%;
    background-color: #2a2829;
    margin-top: -1.5rem;
}
/* 改动 */
.new-food .food-list-details{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 0.5rem;
}
.new-food .food-details li
{
    position: relative;
}
.new-food .food-list-details .food-vouchers{
    width: 3.45rem;
    height: 1.425rem;
    background: url("../image/Vouchers50.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
    z-index: 2;
    overflow: hidden;
}
.new-food .food-details .food-vouchers p
{
    font-size: .7rem;
    color: #ffffff;
    margin-left: 1.35rem;
    margin-top: .1rem;
    line-height:1;
    font-family: "Microsoft YaHei";
}
.new-food .shouqingIcon
{
    width: 3.425rem;
    height: 3.425rem;
    background: url("../image/commodityNone.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: .55rem;
    right: 1.25rem;
}
.new-food .food-details li.shouqing .shouqingIcon
{
    display: block;
}
/*改动*/
.new-food .food-list-details .cash-btn{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: url("../image/cashBtn.png") no-repeat;
    background-size: 0.8rem 0.7rem;
    background-position: center;
    background-color: #fcbe2a;
    position: absolute;
    right: 3.5rem;
    bottom: 0.7rem;
    z-index: 2;
}
.new-food .food-list-details .shopping-btn{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: url("../image/shoppingBtn.png") no-repeat;
    background-size: 0.75rem 0.75rem;
    background-position: center;
    background-color: #fcbe2a;
    position: absolute;
    right: 1.4rem;
    bottom: 0.7rem;
    z-index: 2;
}
/* 改动 */
.new-food .food-list-details .details-img-box{
    width: 14.4rem;
    border-radius: 0.35rem;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}
/* 改动 */
.new-food .food-list-details .details-img-box img{
    width: 100%;
    display: block;
}
.new-food .food-list-details .food-mask{
    width: 15.25rem;
    height: 10.2rem;
    background: url("../image/detailsBg.png");
    background-size: 100% 100%;
    margin: 0 auto;
    position: absolute;
    left: 0rem;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.commodity-content{
    width: 100%;
    background-color: #2a2829;
    padding-top: .4rem;
    padding-bottom: 3.2rem;
}
/* 改动 */
.commodity-content a
{
    display: block;
    width: 14.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .4rem;
    height: 5rem;
    border-radius: .3rem;
    overflow: hidden;
}
.commodity-content a:last-child
{
    margin-bottom: 0;
}
.commodity-content img{
    width: 100%;
    display: block;
}
/* 改动 */
.go-top{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: url("../image/goTopBtn.png") no-repeat;
    background-size: 0.55rem 0.75rem;
    background-position: center;
    background-color: rgba(0,0,0,0.4);
    display: block;
    position: fixed;
    right: 0.9rem;
    bottom: 5.2rem;
    display: none;
    z-index: 998;
}
/* 改动 */
.bottom-fixed{
    width: 100%;
    height: 3rem;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: url("../image/fixedBottom.jpg") no-repeat;
    background-size: 100% 100%;
}
.bottom-fixed a{
    width: 100%;
    height: 3rem;
    display: block;
}
.bottom-fixed .close-fixed{
    width: 0.85rem;
    height: 0.85rem;
    background: url("../image/bottomFixedClosed.png") no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top: 0.15rem;
    margin-right: 0.15rem;
}


/* added on 20160607第一次修改 */
.popLayerCommon
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 9999;
}
.discountLayer
{
    display: none;
}
.discountLayer .discountContent
{
    width: 12.925rem;
    height:13.8rem;
    position: relative;
    top: 50%;
    left: 50%;
    background: url("../image/discountBg.png") no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translate(-50%,-50%);
}
.discountLayer .discountContent .closeButton
{
    width: .85rem;
    height: .85rem;
    background: url("../image/closeButton.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -1.25rem;
    right: .55rem;
}
.discountLayer .discountContent .detailsContent
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.discountLayer .discountContent .detailsContent .discount
{
    width: 9.225rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.01rem;
}
.discountLayer .discountContent .detailsContent .discount img
{
    width: 100%;
    display: block;
}
.discountLayer .discountContent .detailsContent .getTicketButton
{
    width:7.5rem;
    height:2.4rem;
    background: url("../image/getDiscountButton.png") no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    display: block;
}

/* added on 20160607第二次修改 */
.ruleLayer
{
    display: none;
}
.ruleContent
{
    width:14.5rem;
    height:16.4rem;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-60%);
}
.ruleContent .title
{
    width: 14.5rem;
    height:3.525rem;
    background: url("../image/ruleTitle.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.ruleContent .ruleDetails
{
    width: 12.5rem;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:-2.125rem;
    background-color: #fdf2d9;
    border-radius: .4rem;
    overflow: hidden;
}
.ruleContent .ruleDetails .ruleList
{
    width: 10.3rem;
    margin-top: 2.25rem;
    margin-left: auto;
    margin-right: auto;
}
.ruleContent .ruleDetails .ruleList li
{
    width: 100%;
    overflow: hidden;
    margin-bottom: .6rem;
}
.ruleContent .ruleDetails .ruleList li i
{
    width: .75rem;
    height: .75rem;
    background-color: #fcbe2a;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    line-height: .75rem;
    float: left;
    font-size: .55rem;
    margin-right: .15rem;
}
.ruleContent .ruleDetails .ruleList li p
{
    width: 9.4rem;
    font-size: .55rem;
    color: #5d3d0a;
    float: left;
    line-height: .75rem;
}
.ruleContent .closeButton
{
    width: 2rem;
    height: 2rem;
    background: url("../image/bigCloseButton.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -3.4rem;
    left: 50%;
    margin-left: -1rem;
}
/* 分享弹层 */
.shareLayer
{
    display: none;
}
.shareLayer .shareImage
{
    width: 7.425rem;
    position: absolute;
    right: 1.25rem;
    top: 1.8rem;
}
.shareLayer .shareImage img
{
    width: 100%;
    display: block;
}

/* 上传菜品 */
.thirdModule .sliderModule .cellModule .imgBox.noUpload
{
    background: url("../image/noUploadImage.jpg") no-repeat;
    background-size: 100% 100%;
}
.thirdModule .sliderModule .cellModule .imgBox.uploading
{
    background: url("../image/uploading.jpg") no-repeat;
    background-size: 100% 100%;
}