.nav-content
  width:100%;
  height:20px;
  display:flex;
  margin:15px 0 10px 0;
  & > div
    font-size:17px;
    flex:1;
    text-align:center;
    & > a
      color:#a9a9a9;
  .active-btn
    & > a
      color:#000000;
      border-bottom:3px solid #2678f2;
