.row{
    margin: 0!important;
    padding: 0!important;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
.toutiao-article{
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
    background-color: #eeeeee;
}
.toutiao-article .toutiao-header{
    overflow: hidden;
}
.toutiao-article .toutiao-header .header-nav{
    width: 100%;
    height: 60px;
    background-image: url('../image/headerNavBg.png');
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.toutiao-article .toutiao-header .header-nav .nav-details{
    width: 1000px;
    margin: 0 auto;
}
.toutiao-article .toutiao-header .nav-details .toutiao-logo{
    float: left;
}
.toutiao-article .toutiao-header .nav-details .toutiao-logo:hover a{
    color: #e63a73;
}
.toutiao-article .toutiao-header .nav-details .toutiao-logo a{
    color: #ffffff;
    line-height: 60px;
    font-size: 18px;
}
.toutiao-article .toutiao-header .nav-details .toutiao-nav{
    overflow: hidden;
    float: right;
}
.toutiao-article .toutiao-header .nav-details .toutiao-nav li{
    line-height: 60px;
    float: left;
    margin-left: 46px;
    font-size: 18px;
}
.toutiao-article .toutiao-header .nav-details .toutiao-nav li:hover a{
    color: #e63a73;
}
.toutiao-article .toutiao-header .nav-details .toutiao-nav  .nav-active{
    border-top: 2px solid #e63a73;
    line-height: 56px;
}
.toutiao-article .toutiao-header .nav-details .toutiao-nav  .nav-active a{
    color: #e63a73;
}
.toutiao-article .toutiao-header .nav-details .toutiao-nav a{
    color: #fff;

}
.toutiao-header .header-banner{
    width: 100%;
    overflow: hidden;
}
.toutiao-header .header-banner img{
    width: 100%;
}
.toutiao-content{
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 50px;
}
.toutiao-content li{
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}
.toutiao-content .content-span{
    /*width: 68px;*/
    /*height: 30px;*/
    padding: 0 16px 0 10px;
    background: url("../image/contentIcon01.png") no-repeat;
    background-size: 100% 100%;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: -7px;
    left: 25px;
}
.toutiao-content .content-details{
    overflow: hidden;
}
.toutiao-content .content-details .content-img-box{
    width: 400px;
    height: 280px;
    float: left;
}
.toutiao-content .content-details .content-img-box a{
    width: 400px;
    height: 280px;
    display: block;
}
.toutiao-content .content-details .content-text-box{
    width: 524px;
    margin-left: 30px;
    float: left;
}
.toutiao-content .content-details .content-text-box .text-title{
    color: #333333;
    font-size: 28px;
    margin-top: 24px;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.toutiao-content .content-details .content-text-box .text-title:hover{
    color: #e63a73;
}
.toutiao-content .content-details .content-text-box  .text-author{
    margin-top: 24px;
    margin-bottom: 24px;
    overflow: hidden;
}
.toutiao-content .content-details .content-text-box  .text-author .author-portrait{
    float: left;
    position: relative;
}
.toutiao-content .content-details .content-text-box  .text-author .author-portrait .portrait-icon{
    width: 23px;
    height: 23px;
    background: url("../image/bigVicon.png") no-repeat;
    position: absolute;
    top: 2px;
    right: -5px;
}
.toutiao-content .content-details .content-text-box  .text-author .author-portrait .portrait-img-box{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.toutiao-content .content-details .content-text-box  .text-author .author-portrait .portrait-img-box img{
    width: 100%;
    height: 100%;
}
.toutiao-content .content-details .content-text-box  .text-author .author-info{
    float: left;
    margin-left: 20px;
}
.toutiao-content .content-details .content-text-box  .text-author .author-info .info-name{
    color: #e63a73;
    font-size: 18px;
}
.toutiao-content .content-details .content-text-box  .text-author .author-info .info-data{
    overflow: hidden;
}
.toutiao-content .content-details .content-text-box  .text-author .author-info .info-data p{
    float: left;
    color: #999999;
    font-size: 15px;
    margin-right: 20px;
}
.toutiao-content .content-details .content-text-box .text-introduction p{
    color: #333333;
    font-size: 14px;
    line-height: 24px;
    height: 96px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.toutiao-bottom{
    width: 100%;
    height: 40px;
    background-color: #000000;
    text-align: center;
    overflow: hidden;
}
.toutiao-bottom .bottom-text{
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}
.toutiao-bottom .bottom-text p{
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    float: left;
}
.go-top{
    /*width: 58px;*/
    /*height: 58px;*/
    padding: 19px 18px;
    border-radius: 5px;
    background-color: #f6f6f6;
    position: fixed;
    bottom: 110px;
    z-index: 999;
    display: none;
}
.go-top:hover{
    background-color: #fff;
    cursor: pointer;
}
.go-top image{
    width: 20px;
    height: 22px;
    margin: auto;
}
/*about us*/
.utan-content{
    width: 1000px;
    padding: 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    margin: 0 auto;
}
.utan-content .content-text p{
    font-size: 14px;
    text-align:justify;
    font-weight: normal;
    color: #444;
    word-break: break-all;
    margin-bottom: 10px;
    line-height: 20px;
}
.utan-content .content-text h2{
    font-size: 16px;
    margin-bottom: 18px;
    color: #444;
    font-weight: bold;
    word-break: break-all;
}