
body{
    background-color: #eeeeee;
}
.calendar-demo{
    width: 1200px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.calendar-demo .calendar-content{
    width: 100%;
    font-size: 20px;
    line-height: 50px;
}
.calendar-demo .calendar-content .chose-year{
    text-align: center;
    color: #8c8c8c;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.calendar-demo .calendar-content .chose-year i{
    color: #006e75;
}
.calendar-demo .calendar-content .chose-year div{
    display: inline-block;
}
.calendar-demo .calendar-content .chose-year div:hover{
    color: #000;
    cursor: pointer;
}
.calendar-demo .calendar-content .chose-year .table-left-btn{
    margin-right: 50px;
}
.calendar-demo .calendar-content .chose-year .table-right-btn{
    margin-left: 50px;
}
.calendar-demo .calendar-content .chose-month{
    line-height: 60px;
    font-family: "Microsoft YaHei";
    overflow: hidden;
    white-space:nowrap;
    text-align: center;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.calendar-demo .calendar-content .chose-month li{
    font-size: 20px;
    margin-left: 45px;
    color: #8c8c8c;
    float: left;
}
.calendar-demo .calendar-content .chose-month li:hover{
    color: #006e75;
    cursor: pointer;
}
.calendar-demo .calendar-content .chose-month .month-active{
    font-size: 60px;
    color: #006e75;
}
.calendar-demo .calendar-content table{
    width: 100%;
    table-layout: fixed;
}
.calendar-demo .calendar-content tr:nth-child(1){
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 2px solid #006e75;
    font-size: 15px;
    color: #747474;
    margin-bottom: 20px;
}
.calendar-demo .calendar-content tr{
    height: 150px;
}
.calendar-demo .calendar-content td{
    vertical-align: top;
    border: 1px solid #fff;
}
.calendar-demo .calendar-content td{
    overflow: hidden;
}

.calendar-demo .calendar-content tr:nth-child(1)>td:hover{
    background-color: #eeeeee;
    color: #747474;
}
.calendar-demo .calendar-content tr:nth-child(1)>td{
    border: none;
}
.calendar-demo .calendar-content td:hover{
    border-bottom: 1px solid #007074;
}
.calendar-demo .calendar-content .today-active{
    background-color: #007074;
    color: #fff;

}