.row{
    margin: 0!important;
    padding: 0!important;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
.ryx-article-list{
    background-color: #f7fcfc;
}
.ryx-article-list .article-header{
    width: 100%;
    height: 450px;
    background-color: #8b9dae;
    overflow: hidden;
}
.ryx-article-list .article-header .header-details{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}
.ryx-article-list .article-header .header-details .ryx-logo{
    width: 121px;
    height: 70px;
    background: url("../image/ryxLogo.png") no-repeat;
    background-size: 121px 47px;
    background-position: center;
    float: left;
    margin-left: 20px;
}
.ryx-article-list .article-header .header-details .ryx-nav{
    float: right;
}
.ryx-article-list .article-header .header-details .ryx-nav li{
    float: left;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    padding-top: 20px;
    margin-top: 5px;
}
.ryx-article-list .article-header .header-details .ryx-nav span{
    float: left;
    color: #fff;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 5px;
}
.ryx-article-list .article-header .header-details .ryx-nav .nav-active{
    color: #00f5ff;
    border-top: 5px solid #00f5ff;
    margin-top: 0;
    cursor: pointer;
}
.ryx-article-list .article-header .header-details .ryx-nav li:hover{
    color: #00f5ff;
    cursor: pointer;
}
.ryx-article-list .article-header .header-banner{
    width: 930px;
    height: 390px;
    margin: 0 auto;
}
.ryx-article-list .article-header .header-banner img{
    display: block;
    margin: 0 auto;
}
.ryx-article-list .article-list-footer{
    width: 100%;
    height: 124px;
    background-color: #25282d;
    padding-top: 40px;
}
.ryx-article-list .article-list-footer p{
    color: #fff;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 28px;
}
.ryx-article-list .article-list-details{
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 120px;
}
.ryx-article-list .article-list-details h1{
    line-height: 70px;
    font-size: 26px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
}
.ryx-article-list .article-list-details li{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #e5e7e7;
    overflow: hidden;
}
.ryx-article-list .article-list-details .img-article .list-details-content .content-img{
    width: 282px;
    height: 210px;
    border-radius: 10px;
    margin-right: 20px;
    float: left;
    overflow: hidden;
}
.ryx-article-list .article-list-details .img-article .list-details-content .content-img a{
    width: 282px;
    height: 210px;
    display: block;
}
.ryx-article-list .article-list-details .img-article .list-details-content .content-img img{
    width: 100%;
}
.ryx-article-list .article-list-details .img-article .list-details-content .content-text{
    width: 676px;
    float: left;
}
.ryx-article-list .article-list-details .img-no-article{
    padding-bottom: 70px;
}
.ryx-article-list .article-list-details .img-no-article .content-text .content-title a:hover,
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .content-title a:hover{
    color: #5ec2c6;
    cursor: pointer;
}
.ryx-article-list .article-list-details .img-no-article .content-text .content-title,
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .content-title{
    color: #222222;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.ryx-article-list .article-list-details .img-no-article .content-text .content-title a,
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .content-title a{
    color: #222222;
    font-family: "Microsoft YaHei";
    font-size: 22px;
    font-weight: bold;
}
.ryx-article-list .article-list-details .img-no-article .content-text .content-details,
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .content-details{
    width: 100%;
    height: 78px;
    color: #222222;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.ryx-article-list .article-list-details .img-no-article .content-text .text-data{
    margin-top: 36px;
    padding-right: 22px;
    overflow: hidden;
}
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .text-data{
    margin-top: 36px;
    overflow: hidden;
}
.ryx-article-list .article-list-details .img-no-article .content-text .text-data .data-span,
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .text-data .data-span{
    float: left;
    overflow: hidden;
}
.ryx-article-list .article-list-details .img-no-article .content-text .text-data .data-span a,
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .text-data .data-span a{
    color: #666666;
    margin-right: 10px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
.ryx-article-list .article-list-details .img-no-article .content-text .text-data .data-span a:hover,
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .text-data .data-span a:hover{
    color: #5ec2c6;
}
.ryx-article-list .article-list-details .img-no-article .content-text .text-data .data-time,
.ryx-article-list .article-list-details .img-article .list-details-content .content-text .text-data .data-time{
    float: right;
    color: #666666;
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
