html {
    font-size: 125%;
    font-family:Helvetica,"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    background-color: #eeeeee;
}
.commodity-price{
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    /*margin-top: 1.7rem;*/
}
.commodity-price .commodity-img-box{
    width: 100%;
    overflow: hidden;
}
.commodity-price .commodity-img-box img{
    width: 100%;
}
.commodity-price .commodity-text-box{
    padding: 0 0.85rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.commodity-price .commodity-text-box .commodity-title-box{
    width: 100%;
    height: 1.6rem;
    overflow: hidden;
    margin: 0.25rem 0 0.5rem 0;
}
.commodity-price .commodity-text-box .commodity-title-box p{
    font-size: 0.65rem;
    line-height: 0.8rem;
    color: #414141;
    word-break: break-all;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.commodity-price .commodity-text-box .commodity-price-box{
    overflow: hidden;
}
.commodity-price .commodity-text-box .commodity-price-box em{
    color: #fe5380;
    font-size: 0.85rem;
}
.commodity-price .commodity-text-box .commodity-price-box s{
    font-size: 0.55rem;
    color: #999999;
}
.commodity-price .commodity-text-box .commodity-tag-box{
    margin-top: 0.5rem;
    overflow: hidden;
    padding-bottom: 0.65rem;
}
.commodity-price .commodity-text-box .commodity-tag-box .tag-box{
    width: 2.75rem;
    height: 0.65rem;
    background-color: #fe5380;
    color: #fff;
    font-size: 0.425rem;
     text-align: center;
    line-height: 0.65rem;
    float: left;
}.commodity-price .commodity-text-box .commodity-tag-box p{
    font-size: 0.5rem;
    color: #999999;
    display: block;
    float: right;
 }
.chose-info{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-top: 0.4rem solid #eeeeee;
}
.chose-info .chose-info-spec,
.chose-info .product-parameter{
    width: 100%;
    height: 1.7rem;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 0.875rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    position: relative;
}
.chose-info .chose-info-spec .info-spec-text,
.chose-info .product-parameter .parameter-text{
    width: 100%;
    height: 1.7em;
    line-height: 1.7rem;
    color: #333333;
    font-size: 0.6rem;
}
.chose-info .product-parameter span,
.chose-info .chose-info-spec span{
    width: 0.35rem;
    height: 1.7rem;
    background: url("../image/choseInfoBtn.png") no-repeat;
    background-size: 0.35rem 0.55rem;
    background-position: center;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0.875rem;
}
.preferential-collocation{
    background-color: #fff;
    border-top: 0.4rem solid #eeeeee;
    padding: 0 0.875rem 0.6rem 0.875rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    overflow: hidden;
}
.preferential-collocation .collocation-title{
    font-size: 0.55rem;
    color: #333333;
    height: 1.5rem;
    line-height: 1.5rem;
}
.preferential-collocation .collocation-list{
    overflow: hidden;
}
.preferential-collocation .collocation-list span{
    width: 1.5rem;
    height: 3.75rem;
    font-size: 0.75rem;
    text-align: center;
    line-height: 3.75rem;
    float: left;
}
.preferential-collocation .collocation-list .collocation-commodity{
    width: 3.75rem;
    height: 3.75rem;
    float: left;
    overflow: hidden;
}
.preferential-collocation .collocation-list .collocation-commodity img{
    width: 100%;
    height: 100%;
}
.commodity-details-content{
    width: 100%;
    border-top: 0.4rem solid #eeeeee;
    overflow: hidden;
}
.commodity-details-content img{
    width: 100%;
    display: block;
}
/*mall-commodity-alert*/
.mall-commodity-alert{
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
.alert-header{
    max-width: 640px;
    min-width: 300px;
    width: 100%;
    height: 1.7rem;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}
.alert-header .header-left-btn{
    width: 1.7rem;
    height: 1.7rem;
    background: url("../image/common/leftBtnImg.png") no-repeat;
    background-size: 0.45rem 0.8rem;
    background-position: center;
    float: left;
}
.mall-commodity-alert .alert-content{
    padding: 0.6rem 0.875rem 0.6rem 0.875rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.mall-commodity-alert .alert-content .commodity-alert-list{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 0.6rem;
    overflow: hidden;
}
.mall-commodity-alert .alert-content .commodity-alert-list .list-img-box{
    width: 3.9rem;
    height: 3.9rem;
    overflow: hidden;
    float: left;
}
.mall-commodity-alert .alert-content .commodity-alert-list .list-img-box img{
    width: 100%;
    height: 100%;
}
.mall-commodity-alert .alert-content .commodity-alert-list .list-text-box{
    width: 10rem;
    float: right;
}
.mall-commodity-alert .alert-content .commodity-alert-list .list-text-box .text-title{
    font-size: 0.55rem;
    height: 1.6rem;
    line-height: 0.8rem;
    word-break: break-all;
    overflow: hidden;
}
.mall-commodity-alert .alert-content .commodity-alert-list .list-text-box p{
    font-size: 0.65rem;
    color: #fe5380;
}
.mall-commodity-alert .alert-content .commodity-alert-list .list-text-box i,
.mall-commodity-alert .alert-content .commodity-alert-list .list-text-box em{
    font-size: 0.6rem;
    color: #999999;
}
.mall-commodity-alert .alert-content .list-attribute{
    border-bottom: 1px solid #eeeeee;
}
.mall-commodity-alert .alert-content .list-attribute .attribute-info{
    overflow: hidden;
    margin-right: -0.85rem;
}
.mall-commodity-alert .alert-content .list-attribute .attribute-info .info-title{
    font-size: 0.6rem;
    line-height: 1.75rem;
    color: #000000;
}
.mall-commodity-alert .alert-content .list-attribute .attribute-info li{
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    border: 1px solid #dcdcdc;
    margin-bottom: 0.6rem;
    margin-right: 0.7rem;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    display: inline-block;
}
.mall-commodity-alert .alert-content .list-attribute .attribute-info .info-active{
    border: 1px solid #fe5380;
    background-color: #fe5380;
    color: #fff;
}
.purchase-number