@charset "utf-8";
*{box-sizing:content-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,address,cite,code,del,em,img,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
ul,ol,li{list-style:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
a{text-decoration:none;color:#333;}
img{vertical-align:top;border:none 0;-ms-interpolation-mode:bicubic;}
cite,em,var,i{font-style:normal;}
form{display:inline}
iframe{display:block}
table{border-collapse:collapse;border-spacing:0}
button,input,select,textarea{font-size:100%;outline:none;font-style:normal;vertical-align:middle}
textarea{resize:none}
input[type="radio"]{vertical-align:middle}
input[type="checkbox"]{vertical-align:middle}
label,input[type=button],input[type=submit],button,.button{cursor:pointer;border:none;outline:none;padding:0;margin:0;}

/*commodityList*/
.commodityList{
    width: 7.65rem;
    height: 11.5rem;
    margin-top: .225rem;
    margin-left: .225rem;
    float: left;
}
.commodityList .imgBox{
    width: 7.65rem;
    height: 7.65rem;
    border: 1px solid #d9d7e0;
    overflow: hidden;
    display: block;
}
.commodityList .imgBox img{
    width: 100%;
    display: block;
}
.commodityList .commodityName{
    width: 6.7rem;
    height: 1.52rem;
    overflow: hidden;
    margin-top: .2rem;
    margin-left: .2rem;
}
.commodityList .commodityName p{
    line-height: .76rem;
    font-size: .58rem;
    font-family: "Microsoft YaHei";
    color: #d9d7e0;
}
.commodityList .commodityPrice{
    width: 6.7rem;
    height: 1.375rem;
    margin-top: .4rem;
    margin-left: .2rem;
}
.commodityList .commodityPrice .currentPrice{
    font-size: .6rem;
    font-family: "Microsoft YaHei";
    color: #ae8bff;
    font-weight: bold;
    display: block;
}
.commodityList .commodityPrice .originalCost{
    font-size: .45rem;
    font-family: "Microsoft YaHei";
    color: #d9d7e0;
    display: block;
}
/*banner*/
.banner{
    width: 100%;
    height: 4.475rem;
    display: block;
}
.banner img{
    width: 100%;
    display: block;
}
/*bottom banner*/
.bottomBanner{
    width: 100%;
    height: 5rem;
    margin-top: .25rem;
    overflow: hidden;
}
.bottomBanner img{
    width: 100%;
    display: block;
}

html{
    font-size: 125%;
    background-color: #2f007a;
}
.main{
    width: 100%;
}

/*topBanner*/
.topBanner{
    width: 100%;
    height: 11.4rem;
    background-color: #2f007a;
    position: relative;
    z-index: 800;
}
.topBanner img{
    width: 100%;
    display: block;
}
.topBanner .newTicket{
    width: 100%;
    height: 2.65rem;
    position: absolute;
    bottom: 0;
    z-index: 999;
}
.topBanner .newTicket img{
    width: 100%;
    display: block;
}
/*characterWall*/
.characterWall{
    width: 100%;
    height: 7.8rem;
    display: block;
}
.characterWall img{
    width: 100%;
    display: block;
}
/*Coupons*/
.coupons{
    width: 100%;
    height: 3.65rem;
    background-color: #050246;
}
.coupons img{
    width: 100%;
    display: block;
}
.coupons .couponsImg{
    width: 7.25rem;
    height: 2.85rem;
    margin-top: .45rem;
    margin-left: .4rem;
    display: block;
}
.coupons .birthdayCoupons{
    width: 50%;
    height: 3.65rem;
    float: left;
}
.coupons .anniversary{
    width: 50%;
    height: 3.65rem;
    float: left;
}
/*hotList*/
.hotList {
    width: 100%;
    height: 28rem;
    overflow: hidden;
}

/*seckillList*/
.seckillList{
    width: 100%;
    height: 16.45rem;
    overflow: hidden;
}
.seckillListNull img{
    width: 7.65rem;
    height: 7.65rem;
    margin: 1px;
    display: block;
    position: absolute;
    z-index: 999;
}
/*huddleList*/
.huddleList{
    width: 100%;
    height: 16.3rem;
    overflow: hidden;
}

