.xifeizhuan-mobile{
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
    overflow: hidden;
}
.xifeizhuan-mobile .mobile-header{
    width: 100%;
    overflow: hidden;
}
.xifeizhuan-mobile .mobile-header img{
    width: 100%;
    display: block;
}
.xifeizhuan-mobile .mobile-content{
    padding: 0 0.7rem;.
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.xifeizhuan-mobile .mobile-content .content-header{
    margin-top: 0.35rem;
    overflow: hidden;
}
.xifeizhuan-mobile .mobile-content .content-header .header-portrait{
    width: 1.95rem;
    height: 1.95rem;
    overflow: hidden;
    float: left;
}
.xifeizhuan-mobile .mobile-content .content-header .header-portrait img{
    width: 100%;
}
.xifeizhuan-mobile .mobile-content .content-header .header-text{
    width: 7.8rem;
    float: left;
    margin-left: 0.4rem;
}
.xifeizhuan-mobile .mobile-content .content-header .header-text h1{
    font-size: 0.575rem;
    color: #010101;
    font-weight: bold;
    line-height: 1rem;
    margin-bottom: 0;
}
.xifeizhuan-mobile .mobile-content .content-header .header-text p{
    font-size: 0.5rem;
    color: #000000;
}
.xifeizhuan-mobile .mobile-content .content-header a{
    width: 3.85rem;
    height: 1.325rem;
    margin-top: 0.25rem;
    float: right;
    display: block;
}
.xifeizhuan-mobile .mobile-content .content-header a:hover,
.xifeizhuan-mobile .mobile-content .content-header a:active{
    text-decoration: none;
}
.xifeizhuan-mobile .mobile-content .content-header button:active{
    background-color: #3c763d;
}
.xifeizhuan-mobile .mobile-content .content-header button{
    width: 3.85rem;
    height: 1.325rem;
    background-color: #80c147;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 0.5rem;
    display: block;
}
.xifeizhuan-mobile .mobile-content .content-details{
    margin-top: 1rem;
}
.xifeizhuan-mobile .mobile-content .content-details>p{
    font-size: 0.5rem;
    color: #000000;
    line-height: 2rem;
    font-weight: bold;
}
.xifeizhuan-mobile .mobile-content .content-details h2{
    font-size: 0.5rem;
    color: #000;
    font-weight: bold;
}
.xifeizhuan-mobile .mobile-content .content-details .xifei-info{
    margin-bottom: 0.75rem;
}
.xifeizhuan-mobile .mobile-content .content-details .xifei-info p{
    font-size: 0.5rem;
    color: #000;
    text-indent:2em;
    text-align: justify;
    word-break: break-all;
}
.xifeizhuan-mobile .mobile-content .content-details .xifei-info strong{
    color: #000000;
    font-size: 0.5rem;
    font-weight: bold;
    margin-left: 2em;
}
.xifeizhuan-mobile .mobile-content .content-details .base-info{
    margin-bottom: 1rem;
}
.xifeizhuan-mobile .mobile-content .content-details .update-info p,
.xifeizhuan-mobile .mobile-content .content-details .base-info p{
    color: #000000;
    font-size: 0.5rem;
    text-indent:2em;
}
.xifeizhuan-mobile .mobile-content .update-info{
    margin-bottom: 1.5rem;
}
.xifeizhuan-mobile .mobile-content .img-border{
    width: 100%;
    height: 1px;
    margin: 0;
    border-top: 1px solid #9d9d9d;
}
.xifeizhuan-mobile .mobile-content .content-img-box{
    width: 16em;
    height: 17.1rem;
    margin-left: -0.7rem;
    overflow: hidden;
}
.xifeizhuan-mobile .mobile-content .content-img-box .img-overflow{
    padding-top: 0.5rem;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.xifeizhuan-mobile .mobile-content .content-img-box .img-overflow ul{
    width: 53rem;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.xifeizhuan-mobile .mobile-content .content-img-box .img-overflow li{
    width: 9.8rem;
    margin-left: 0.7rem;
    float: left;
}
.xifeizhuan-mobile .mobile-content .content-img-box .img-overflow li>img{
    width: 100%;
    display: block;
}