<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" type="text/css" href="../css/base/reset_mobile.css">
    <link rel="stylesheet" type="text/css" href="../css/qiaqia.css">
    <title>洽洽与优谈战略合作</title>
</head>

<body>
    <div class="qiaqia-wrapper" id="qiaqia-wrapper">
        <div class="loading-content" v-if="eventState.loading">
            <div class="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <p>正在努力加载中</p>
        </div>
        <div class="main-wrapper" v-bind:class="{'show': eventState.isShow}" v-else>
            <div class="title-content">
                <img v-bind:src="imgSrc + 'titleText.png'" alt="洽洽食品，优谈第一女性媒体">
            </div>
            <div class="text-content">
                <img v-bind:src="imgSrc + 'textDetails.png'" alt="洽洽与优谈战略合作，扫码100%中奖,价值999元优谈vip卡，跟美人瑜做朋友!">
            </div>
            <div class="bottom-content">
                <div class="bottom-header"><img :src="imgSrc + 'bottomBg.png'" alt="优谈第一女性媒体"></div>
                <div class="input-content">
                    <p>手机号<span class="down-style"></span></p>
                    <input type="text" v-model="mobileNum" placeholder="请输入手机号">
                    <button v-on:click="validatemobile">立即领取</button>
                </div>
                <div class="rule-btn" v-on:click='ruleContentEvent'>活动规则<span></span></div>
            </div>
            <div class="rule-content" v-bind:class="{ 'show':eventState.ruleShow }">
                <h2>活动规则<span class="down-style"></span></h2>
                <div class="rule-text">
                    <p>1. 每位用户只能领取一次优谈VIPI会员卡机会。</p>
                    <p>2.本活动最终解释权归优谈所有，客服电话：4001009986</p>
                    <p>3. 活动截止时间：2018年3月31日</p>
                </div>
            </div>
            <div class="mask" v-bind:style="{height:winInfo._height + 'px'}" v-bind:class="{ 'show':eventState.maskShow}" v-on:click="maskClickEvent"></div>
            <div class="info-content" v-bind:style="{top:(winInfo._height-240)/2 + 'px'}" v-bind:class="{ 'show':eventState.userInfoShow }">
                <div class="info-details">
                    <p>恭喜您获得帐户{{user.name}}密码{{user.passWord}}，请下载人鱼线APP--点击底部导航人鱼班按钮--自动加入999元优谈VIP卡课程。</p>
                    <p>点击下载开始您的VIP之旅吧...</p>
                </div>
                <button><a href="http://www.baidu.com">人鱼线APP下载</a></button>
            </div>
        </div>
    </div>
    <script src="../js/common/vue.min.js"></script>
    <script src="../js/common/vue-resource.min.js"></script>
    <script src="../js/qiaqia.js"></script>
</body>

</html>